Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt18 - minor type fix for test file rebase
  src/workflows-app/SubmissionDetails.test.ts
Owners: @DataBiosphere/dsp-analysis

completed todos; removed unused code
  src/libs/ajax/Dockstore.test.ts
  src/libs/ajax/Dockstore.ts
  src/libs/ajax/firecloud/FirecloudBucket.ts
  src/pages/library/ABCWorkflowsLibrary.js
  src/pages/library/WorkflowsLibrary.test.js
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

Fix IGV handling of signed, requester-pays URLs resolved by DRS
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
Owners: none

Update IGV tests to account for signed URLs
  src/components/IGVFileSelector.test.js
Owners: none

Snapshot => Version
  config/dev.json
  src/workflows/methods/modals/DeleteSnapshotModal.tsx
Owners: none

Snapshot => Version
  src/workflows/methods/modals/DeleteSnapshotModal.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
Owners: none

Add IGV-specific metrics
  src/components/IGVFileSelector.js
  src/workspace-data/data-table/entity-service/EntitiesContent.js
Owners: @DataBiosphere/broad-core-services

Snapshot => Version
  src/workflows/methods/SnapshotActionMenu.test.tsx
Owners: none

fix axe issues; added test
  src/pages/library/WorkflowsLibrary.test.tsx
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

Snapshot => Version
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
Owners: none

Snapshot => Version
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
Owners: none

fix sonarcloud issue
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

Convert isSignedURL to isSignedUrl in IGV, for wider consistency
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
Owners: none

Unending minutia
  src/pages/methods/WorkflowList.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Add test for refined IGV metrics
  src/components/IGVFileSelector.test.js
Owners: none

Snapshot => Version
  src/pages/methods/WorkflowList.test.tsx
Owners: none

Revert unintentional change
  config/dev.json
Owners: none

`snapshotOrNamespace` => `versionOrNamespace`
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
Owners: none

PR feedback
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

[AN-239] Updated Workflows Library page (#5209)
  integration-tests/tests/find-workflow.js
  src/components/TopBar.tsx
  src/components/library-common.js
  src/images/library/workflows/broad-square.svg
  src/images/library/workflows/dockstore.svg
  src/libs/ajax/Dockstore.test.ts
  src/libs/ajax/Dockstore.ts
  src/libs/ajax/firecloud/FirecloudBucket.ts
  src/libs/routes.js
  src/pages/library/Code.js
  src/pages/library/Code.test.js
  src/pages/library/Showcase.test.js
  src/pages/library/WorkflowsLibrary.test.tsx
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/library/workflows/curated-workflows-utils.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

Add comments
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

AN-240 replace user-visible "method" naming with "workflow" (#5204)
  src/components/breadcrumbs.js
  src/libs/ajax/methods/methods-models.ts
  src/libs/ajax/methods/providers/EditMethodProvider.test.ts
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowSummary.test.ts
  src/pages/methods/workflow-details/WorkflowSummary.ts
  src/pages/methods/workflow-details/WorkflowWdl.ts
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.test.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

`pages/methods` => `pages/workflows`
  src/libs/routes.js
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowSummary.test.ts
  src/pages/workflows/workflow-details/WorkflowSummary.ts
  src/pages/workflows/workflow-details/WorkflowWdl.test.ts
  src/pages/workflows/workflow-details/WorkflowWdl.ts
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
Owners: none

`workflows/methods` => `workflows`
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowSummary.ts
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/SnapshotActionMenu.test.tsx
  src/workflows/SnapshotActionMenu.tsx
  src/workflows/WDLEditor.mock.tsx
  src/workflows/WDLEditor.test.tsx
  src/workflows/WDLEditor.tsx
  src/workflows/WorkflowRightBoxSection.tsx
  src/workflows/modals/CreateWorkflowModal.test.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/DeleteSnapshotModal.test.tsx
  src/workflows/modals/DeleteSnapshotModal.tsx
  src/workflows/modals/EditWorkflowModal.test.tsx
  src/workflows/modals/EditWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.test.tsx
  src/workflows/modals/PermissionsModal.tsx
  src/workflows/modals/WorkflowModalCommon.tsx
  src/workflows/workflows-acl-utils.ts
Owners: none

Rename files
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/VersionActionMenu.test.tsx
  src/workflows/VersionActionMenu.tsx
  src/workflows/modals/DeleteVersionModal.test.tsx
  src/workflows/modals/DeleteVersionModal.tsx
Owners: none

AN-240 Reorganize workflow-related files for new naming (#5210)
  src/libs/routes.js
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowSummary.test.ts
  src/pages/workflows/workflow-details/WorkflowSummary.ts
  src/pages/workflows/workflow-details/WorkflowWdl.test.ts
  src/pages/workflows/workflow-details/WorkflowWdl.ts
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/VersionActionMenu.test.tsx
  src/workflows/VersionActionMenu.tsx
  src/workflows/WDLEditor.mock.tsx
  src/workflows/WDLEditor.test.tsx
  src/workflows/WDLEditor.tsx
  src/workflows/WorkflowRightBoxSection.tsx
  src/workflows/modals/CreateWorkflowModal.test.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/DeleteVersionModal.test.tsx
  src/workflows/modals/DeleteVersionModal.tsx
  src/workflows/modals/EditWorkflowModal.test.tsx
  src/workflows/modals/EditWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.test.tsx
  src/workflows/modals/PermissionsModal.tsx
  src/workflows/modals/WorkflowModalCommon.tsx
  src/workflows/workflows-acl-utils.ts
Owners: none

PR feedback
  src/libs/ajax/methods/providers/PermissionsProvider.test.ts
Owners: none

fix tests
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/modals/PermissionsModal.test.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: none

[AN-149] Add ability to edit namespace permissions (#5203)
  src/libs/ajax/methods/Methods.ts
  src/libs/ajax/methods/providers/PermissionsProvider.test.ts
  src/libs/ajax/methods/providers/PermissionsProvider.ts
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/modals/PermissionsModal.test.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt18 (#5208)
  src/libs/ajax/AzureStorage.ts
  src/libs/ajax/azure-storage-utils.test.ts
  src/libs/ajax/azure-storage-utils.ts
  src/libs/ajax/workflows-app/CromwellApp.ts
  src/workflows-app/RunDetails.test.ts
  src/workflows-app/RunDetails.ts
  src/workflows-app/SubmissionDetails.js
  src/workflows-app/SubmissionDetails.test.ts
  src/workflows-app/components/FilterableWorkflowTable.ts
  src/workflows-app/components/LogViewer.ts
Owners: @DataBiosphere/dsp-analysis
