Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/dsp-data-team-eng, @DataBiosphere/analysisjourneys, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

[AN-293] Add https://cdn.jsdelivr.net to BEE CSP allowlist (#5222)
  nginx-bees.conf
Owners: none

[AN-370] Fix TSV formatting issues with undefined workflow cost (#5221)
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

UIE-204 Narrow Ajax Usage pt21 - minor fix to prefix fire-and-forget async call to Metrics().captureEvent() with void.
  src/libs/feature-previews.js
Owners: none

Remove articleUrl and feedback emails
  src/libs/feature-previews-config.ts
  src/pages/FeaturePreviews.js
  src/pages/FeaturePreviews.test.ts
Owners: none

Remove IGV enhancement feature preview; make it generally available
  src/components/IGVFileSelector.js
  src/libs/feature-previews-config.ts
Owners: none

Remove unused variable
  src/libs/feature-previews-config.ts
Owners: none

metrics
  src/libs/ajax/workspaces/providers/ExportWorkflowToWorkspaceProvider.ts
  src/libs/events.ts
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/EditWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added v2 resources root
  src/libs/ajax/Groups.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

UIE-204 Narrow Ajax Usage pt21 (#5223)
  src/billing/ConsolidatedSpendReport.tsx
  src/import-data/ImportData.test.ts
  src/import-data/ImportData.ts
  src/import-data/useImportRequest.ts
  src/libs/ajax/DataRepo.ts
  src/libs/ajax/WorkspaceDataService.test.ts
  src/libs/analysis.js
  src/libs/feature-previews.js
  src/libs/feature-previews.test.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/dsp-data-team-eng, @DataBiosphere/analysisjourneys

Added all policyUpdates entries
  src/libs/ajax/Groups.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

don't send metric for Broad Method Repo
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

add ticket link for TODO
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

[AN-230] MixPanel metrics for Terra Workflows Repository (#5226)
  src/libs/ajax/workspaces/providers/ExportWorkflowToWorkspaceProvider.ts
  src/libs/events.ts
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/EditWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

fix logo issue
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

Use singular role in NewMemberModal
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Use singular role in Groups
  src/groups/GroupDetails.tsx
  src/libs/ajax/Groups.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Use singular role in Members
  src/billing/Members/Members.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated test with single role
  src/groups/Members/NewMemberModal.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[CORE-274] Use BulkMembershipUpdates API to add multiple emails to a group (#5227)
  src/billing/Members/Members.tsx
  src/groups/GroupDetails.tsx
  src/groups/Members/NewMemberModal.test.tsx
  src/groups/Members/NewMemberModal.tsx
  src/libs/ajax/Groups.ts
  src/workspaces/ShareWorkspaceModal/Collaborator.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[AN-383] Fixes issue with logos on Workflows Library (#5228)
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt22 - narrowed Ajax() usage within src/data-catalog area to call Ajax().SubAreaX directly. - this is the last usage outside of src/libs/ajax, which will be cleaned up next.
  src/data-catalog/DataBrowser.ts
  src/data-catalog/DataBrowserDetails.ts
  src/data-catalog/DataBrowserPreview.js
  src/data-catalog/create-dataset/CreateDataset.ts
  src/data-catalog/data-browser-utils.ts
Owners: @DataBiosphere/dsp-data-team-eng

UIE-204 Narrow Ajax Usage pt22 - minor import cleanup
  src/data-catalog/DataBrowserDetails.ts
Owners: @DataBiosphere/dsp-data-team-eng

[AN-370] When converting submission details to a TSV, access data by the headers
  src/libs/workflow-utils.ts
Owners: none

Changed button label to Launch
  integration-tests/utils/workflow-utils.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

UIE-204 Narrow Ajax Usage pt22 - minor import cleanup
  src/data-catalog/create-dataset/CreateDataset.ts
Owners: @DataBiosphere/dsp-data-team-eng

UIE-204 Narrow Ajax Usage pt22 (#5229)
  src/data-catalog/DataBrowser.ts
  src/data-catalog/DataBrowserDetails.ts
  src/data-catalog/DataBrowserPreview.js
  src/data-catalog/create-dataset/CreateDataset.ts
  src/data-catalog/data-browser-utils.ts
Owners: @DataBiosphere/dsp-data-team-eng

catch error
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

workflow costs should format as currency
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

find workspaces not in report and display n/a
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

CORE-229: workflow costs should format as currency (#5233)
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

Update test for single DRS URI selection for IGV
  src/components/IGVFileSelector.test.js
Owners: none

[AN-372] Make DRS URI IGV enhancements generally available (#5225)
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
  src/libs/feature-previews-config.ts
Owners: none

Added Change Message
  src/workspace-data/data-table/shared/EntityUploader.js
Owners: @DataBiosphere/analysisjourneys

Added Change Message tests
  src/workspace-data/data-table/shared/EntityUploader.test.js
Owners: @DataBiosphere/analysisjourneys

Added "Column" to change message for context
  src/workspace-data/data-table/shared/EntityUploader.js
Owners: @DataBiosphere/analysisjourneys

Fixed tests
  src/workspace-data/data-table/shared/EntityUploader.test.js
Owners: @DataBiosphere/analysisjourneys

post_logout_redirect_uri can't be a fragment
  src/auth/signout/sign-out.ts
Owners: none

[CORE-240] Notify users of column renaming during TSV upload (#5234)
  src/workspace-data/data-table/shared/EntityUploader.js
  src/workspace-data/data-table/shared/EntityUploader.test.js
Owners: @DataBiosphere/analysisjourneys

test
  src/auth/signout/sign-out.test.ts
Owners: none

test
  src/auth/signout/sign-out.test.ts
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/billing-core/ @DataBiosphere/broadworkspaces-terra-ui
/src/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/EnvironmentsPage/ @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/dsp-data-team-eng
/src/import-data/ @DataBiosphere/dsp-data-team-eng @DataBiosphere/analysisjourneys
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/Catalog.ts @DataBiosphere/dsp-data-team-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/libs/ajax/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/library/DataBrowser* @DataBiosphere/dsp-data-team-eng
/src/pages/library/Datasets* @DataBiosphere/dsp-data-team-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/dsp-data-team-eng
/src/dataset-builder/ @DataBiosphere/dsp-data-team-eng
/src/data-catalog/ @DataBiosphere/dsp-data-team-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/workspaces/* @DataBiosphere/broadworkspaces-terra-ui
/src/profile/notification-settings/* @DataBiosphere/broadworkspaces-terra-ui
/src/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/workspace-data/ @DataBiosphere/analysisjourneys
/src/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/request-access.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/run-catalog* @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/analysisjourneys
