Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services

Fix BillingList import
  src/pages/billing/BillingListPage.test.tsx
Owners: @DataBiosphere/broad-core-services

Added banner background image
  src/images/roadmap-bg-banner.png
Owners: none

Added RoadMap Link to Platform News
  src/components/TopBar.tsx
Owners: none

Persist user project
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broad-core-services

Added RoadMap Card to Landing Page
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

Fixed repeating bg image
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

Added optional roadMap configs
  src/libs/brands.ts
Owners: none

Added check to show roadmap on enabled brands
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

[CORE-184] Restrict Roadmap Banner Display to Specific Branded Sites (#5179)
  src/libs/brands.ts
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

sonar feedback
  src/libs/ajax/workspaces/Workspaces.ts
Owners: @DataBiosphere/broad-core-services

[CORE-184] Add Public Roadmap Banner to Home Page (#5178)
  src/components/TopBar.tsx
  src/images/roadmap-bg-banner.png
  src/libs/brands.ts
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

TS error-typing fix
  src/workspaces/common/state/useWorkspace.ts
Owners: @DataBiosphere/broad-core-services

clone error so it can be read twice
  src/workspaces/common/state/useWorkspace.ts
Owners: @DataBiosphere/broad-core-services

Updated BillingListPage Tests
  src/pages/billing/BillingListPage.test.tsx
Owners: @DataBiosphere/broad-core-services

[CORE-152] Make navigation behavior on billing list page consistent (#5177)
  src/pages/billing/BillingListPage.test.tsx
  src/pages/billing/BillingListPage.tsx
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt13 - shifting ajax usage to directly use ajax sub-areas for some of the src/pages uses. - improving mock types where possible.
  src/pages/ImportWorkflow/importDockstoreWorkflow.test.ts
  src/pages/ImportWorkflow/importDockstoreWorkflow.ts
  src/pages/LandingPage.js
  src/pages/library/Code.js
  src/pages/library/Code.test.js
  src/pages/library/Datasets.js
  src/pages/library/Datasets.test.js
  src/pages/library/SearchAndFilterComponent.ts
  src/pages/library/Showcase.js
  src/pages/library/Showcase.test.js
Owners: @DataBiosphere/terra-cobranding, @DataBiosphere/data-explorer-eng

remove a spinner-wait in preview-drs-uri test
  integration-tests/tests/preview-drs-uri.js
Owners: none

dont fail integration tests if cleanup fails
  integration-tests/utils/integration-helpers.js
Owners: none

wip
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

PR feedback
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

remove import
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
Owners: none

CORE-192: ignore errors during integration test cleanup; remove a spinner-wait in preview-drs-uri test (#5180)
  integration-tests/tests/preview-drs-uri.js
  integration-tests/utils/integration-helpers.js
Owners: none

Scaffold IGV support for DRS URIs
  src/components/IGVFileSelector.js
Owners: none

working Find workflow modal
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

Run loadGoogleBucketLocation by default if no location found
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broad-core-services

Handle requester-pays HTTPS URLs resolved from DRS URIs
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
Owners: none

Run loadGoogleBucketLocation by default if no location found
  integration-tests/tests/preview-drs-uri.js
  integration-tests/utils/integration-helpers.js
  src/workspaces/dashboard/BucketLocation.test.ts
Owners: @DataBiosphere/broad-core-services

Refactored switch case
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broad-core-services

fix eslint error
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
Owners: @DataBiosphere/broad-core-services

add cohort builder users as a group on the feature preview
  src/libs/feature-previews-config.ts
Owners: none

Added arrange, act & assert comments
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt13 (#5176)
  src/pages/ImportWorkflow/importDockstoreWorkflow.test.ts
  src/pages/ImportWorkflow/importDockstoreWorkflow.ts
  src/pages/LandingPage.js
  src/pages/library/Code.js
  src/pages/library/Code.test.js
  src/pages/library/Datasets.js
  src/pages/library/Datasets.test.js
  src/pages/library/SearchAndFilterComponent.ts
  src/pages/library/Showcase.js
  src/pages/library/Showcase.test.js
Owners: @DataBiosphere/terra-cobranding, @DataBiosphere/data-explorer-eng

Corrected comments
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: @DataBiosphere/broad-core-services

[CORE-194] Adding Unit Tests to UploadData Component (#5181)
  src/components/Dropzone.ts
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: @DataBiosphere/broad-core-services

new workflow modal and tests
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/Workflows.test.js
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

[DT-1053] Make cohort browser feature preview private (#5183)
  src/libs/feature-previews-config.ts
Owners: none

show link to budget doc no matter billingscope
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
Owners: @DataBiosphere/broad-core-services

Make user project persist
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broad-core-services

VSCode is confused
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broad-core-services

Add, integrate feature flag for IGV enhancements
  src/components/IGVFileSelector.js
  src/libs/feature-previews-config.ts
Owners: none
