Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broadworkspaces

CORE-299 don't do b2c signout when there is no user (#5242)
  src/auth/oidc-broker.ts
  src/auth/signout/sign-out.test.ts
  src/auth/signout/sign-out.ts
Owners: none

make requested text change and try to put settings under the same visual column
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

Disable suggestions
  src/groups/Members/NewMemberModal.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: none

incorporate feedback from Beth
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

remove sneaky file
  src/analysis/modals/ComputeModal/AboutInstalledPackagesView.ts
Owners: @DataBiosphere/broad-interactive-analysis

Removed noOptionsMessage
  src/groups/Members/EmailSelect.tsx
Owners: none

[CORE-283] Disable user suggestions in sharing modals (#5245)
  src/groups/Members/EmailSelect.tsx
  src/groups/Members/NewMemberModal.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: none

fix test to mock workflow route
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

add assertions back
  src/pages/library/WorkflowsLibrary.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

forgot one test
  src/pages/workspaces/workspace/Workflows.test.ts
Owners: none

CORE-231: Changed Run Analysis button label to Launch (#5231)
  integration-tests/utils/workflow-utils.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

implementing latest feedback
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

fix type issue
  src/libs/ajax/workspaces/workspace-models.ts
  src/libs/workflow-utils.ts
Owners: none

fix
  src/libs/workflow-utils.ts
Owners: none

add more types
  src/libs/workflow-utils.ts
Owners: none

[AN-373] Remove Terra Workflow Repository feature flag (#5243)
  src/libs/feature-previews-config.ts
  src/pages/library/WorkflowsLibrary.test.tsx
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
  src/pages/workspaces/workspace/workflows/WorkflowView.js
  src/pages/workspaces/workspace/workflows/methodLink.js
Owners: none

adding test
  src/libs/ajax/workspaces/workspace-models.ts
  src/libs/workflow-utils.test.ts
Owners: none

[AN-404] Clearer workflow submission setting messaging (#5244)
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

no redirect after calling userSignedOut
  src/auth/signout/sign-out.test.ts
  src/auth/signout/sign-out.ts
Owners: none

CORE-311 no redirect after calling userSignedOut (#5247)
  src/auth/signout/sign-out.test.ts
  src/auth/signout/sign-out.ts
Owners: none

UIE-204 App Startup - unit tests pt1 - added unit test coverage and light ts conversions. - removed ajax module mocks that somenow snuck back into some other test files.
  src/analysis/modals/HailBatchModal.test.ts
  src/libs/axe-core.js
  src/libs/startup/ajax-test-root.test.ts
  src/libs/startup/ajax-test-root.ts
  src/libs/startup/app-loader.test.ts
  src/libs/startup/app-loader.ts
  src/libs/startup/axe-core.test.ts
  src/libs/startup/axe-core.ts
  src/pages/ImportWorkflow/ImportWorkflow.test.ts
  src/pages/workflows/workflow-details/WorkflowWdl.test.ts
  src/profile/Profile.test.ts
  src/registration/terms-of-service/terms-of-service-alerts.test.ts
  src/support/SupportSummary.test.tsx
  src/workflows-app/components/InputsTable.test.ts
  src/workflows/modals/PermissionsModal.test.tsx
  src/workspaces/dashboard/WorkspaceInformation.test.ts
Owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broad-workflow-management

UIE-204 App Startup - unit tests pt1 - initial code shift to callable (and testable) functions.
  src/appLoader.js
  src/libs/ajax/ajax-override-utils.test.ts
  src/libs/ajax/ajax-override-utils.ts
  src/libs/startup/app-loader.ts
Owners: none

UIE-204 App Startup - unit tests pt1 - removed one last orphaned ajax module mock.
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

UIE-204 App Startup - unit tests pt1 - fixed test name typo
  src/libs/ajax/ajax-override-utils.test.ts
Owners: none

remove call to storage apis during permission check
  src/workspaces/common/state/useWorkspace.ts
Owners: none

remove extraneous tests
  src/workspaces/common/state/useWorkspace.test.ts
Owners: none

UIE-206 App Startup - unit tests pt1 (#5246)
  src/analysis/modals/HailBatchModal.test.ts
  src/appLoader.js
  src/libs/ajax/ajax-override-utils.test.ts
  src/libs/ajax/ajax-override-utils.ts
  src/libs/axe-core.js
  src/libs/startup/ajax-test-root.test.ts
  src/libs/startup/ajax-test-root.ts
  src/libs/startup/app-loader.test.ts
  src/libs/startup/app-loader.ts
  src/libs/startup/axe-core.test.ts
  src/libs/startup/axe-core.ts
  src/pages/ImportWorkflow/ImportWorkflow.test.ts
  src/pages/workflows/workflow-details/WorkflowWdl.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/profile/Profile.test.ts
  src/registration/terms-of-service/terms-of-service-alerts.test.ts
  src/support/SupportSummary.test.tsx
  src/workflows-app/components/InputsTable.test.ts
  src/workflows/modals/PermissionsModal.test.tsx
  src/workspaces/dashboard/WorkspaceInformation.test.ts
Owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broad-workflow-management

[AN-370] When converting submission to a TSV, access data by the headers (#5230)
  src/libs/ajax/workspaces/workspace-models.ts
  src/libs/workflow-utils.test.ts
  src/libs/workflow-utils.ts
Owners: none

Making cost limit set at the time the submission visible to users
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

use getStorageCostEstimateV2 instead of v2 and getBucketUsage
  src/libs/ajax/workspaces/Workspaces.ts
  src/libs/ajax/workspaces/workspace-models.ts
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.test.js
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.test.ts
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.ts
  src/workspaces/common/state/useWorkspace.test.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/CloudInformation.test.ts
  src/workspaces/dashboard/CloudInformation.ts
Owners: none

update estimate to number
  src/libs/ajax/workspaces/Workspaces.ts
  src/libs/ajax/workspaces/workspace-models.ts
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.test.ts
  src/workspaces/dashboard/CloudInformation.test.ts
  src/workspaces/dashboard/CloudInformation.ts
  src/workspaces/migration/WorkspaceItem.test.ts
  src/workspaces/migration/WorkspaceItem.ts
Owners: none

add top groups to support page
  src/libs/ajax/User.ts
Owners: none

CORE-282 add top groups to support page (#5250)
  src/libs/ajax/User.ts
Owners: none

[CORE-175] use getStorageCostEstimateV2 instead of v2 and getBucketUsage (#5249)
  src/libs/ajax/workspaces/Workspaces.ts
  src/libs/ajax/workspaces/workspace-models.ts
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.test.js
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.test.ts
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.ts
  src/workspaces/common/state/useWorkspace.test.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/CloudInformation.test.ts
  src/workspaces/dashboard/CloudInformation.ts
  src/workspaces/migration/WorkspaceItem.test.ts
  src/workspaces/migration/WorkspaceItem.ts
Owners: none

change job history to submission history
  src/components/job-common.js
  src/pages/workspaces/workspace/JobHistory.js
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
  src/pages/workspaces/workspace/jobHistory/WorkflowDashboard.js
  src/workspace-data/import-jobs.test.ts
  src/workspaces/container/WorkspaceTabs.test.ts
  src/workspaces/container/WorkspaceTabs.ts
Owners: none

rename files and directories
  src/libs/routes.js
  src/pages/workspaces/workspace/SubmissionHistory.js
  src/pages/workspaces/workspace/submissionHistory/CallCacheWizard.js
  src/pages/workspaces/workspace/submissionHistory/CallTable.js
  src/pages/workspaces/workspace/submissionHistory/FailuresViewer.js
  src/pages/workspaces/workspace/submissionHistory/SubmissionDetails.js
  src/pages/workspaces/workspace/submissionHistory/UpdateUserCommentModal.js
  src/pages/workspaces/workspace/submissionHistory/WorkflowDashboard.js
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/workflows-app/RunDetails.ts
Owners: @DataBiosphere/broad-workflow-management

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/dataBrowser-utils* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/pages/library/test-datasets.ts @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces
/src/pages/workspaces/* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/*Dashboard* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/*Workspace* @DataBiosphere/broadworkspaces
/src/components/*Workspace* @DataBiosphere/broadworkspaces
/src/components/workspace-utils* @DataBiosphere/broadworkspaces
/src/workflows-app/ @DataBiosphere/broad-workflow-management
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces
/integration-tests/tests/janitor.js @DataBiosphere/broadworkspaces
/integration-tests/tests/workspace-dashboard.js @DataBiosphere/broadworkspaces
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-new-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
