Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/dsp-data-team-eng, @DataBiosphere/analysisjourneys, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

test change
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

add test from PR feedback
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Updated daily spend billing models
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added feature flagged daily spend charts
  src/billing/SpendReport/SpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Refactored spend chart
  src/billing/SpendReport/SpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Moved FullPage spinner to Fixed
  src/billing/SpendReport/SpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Fixed percentage when undefined
  src/billing/SpendReport/SpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added tests
  src/billing/SpendReport/SpendReport.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Refactored chart options
  src/billing/SpendReport/SpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[AN-150] FC UI migration - Adds Clone method snapshot functionality (#5162)
  src/libs/ajax/methods/providers/PostMethodProvider.test.ts
  src/libs/ajax/methods/providers/PostMethodProvider.ts
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/WorkflowModal.test.tsx
  src/workflows/methods/modals/WorkflowModal.tsx
Owners: none

[CORE-43] Added Daily Cost Chart to Spend Report Page (#5172)
  src/billing/SpendReport/SpendReport.test.tsx
  src/billing/SpendReport/SpendReport.tsx
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

wip; before refactor of WorkflowModal
  src/libs/ajax/methods/providers/EditMethodProvider.ts
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt12 - minor typo fix
  src/profile/notification-settings/utils.test.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

UIE-204 Narrow Ajax Usage pt12 - shifting ajax usage to directly use ajax sub-areas for the user profile and registration areas. - improving mock types where possible.
  src/libs/ajax/ExternalCredentials.ts
  src/libs/ajax/User.ts
  src/profile/external-identities/LinkOAuth2Account.tsx
  src/profile/external-identities/NihAccount.test.ts
  src/profile/external-identities/NihAccount.ts
  src/profile/external-identities/OAuth2Account.test.tsx
  src/profile/external-identities/OAuth2Account.tsx
  src/profile/external-identities/UnlinkOAuth2Account.tsx
  src/profile/notification-settings/utils.test.ts
  src/profile/notification-settings/utils.ts
  src/registration/Register.test.ts
  src/registration/Register.tsx
  src/registration/privacy-policy/PrivacyPolicy.tsx
  src/registration/terms-of-service/TermsOfServicePage.test.ts
  src/registration/terms-of-service/TermsOfServicePage.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

UIE-204 Narrow Ajax Usage pt12 - improved type safety in mocks for test in TermsOfServicePage.test.ts
  src/registration/terms-of-service/TermsOfServicePage.test.ts
Owners: none

Added uploaderAutoGenerateTable Event
  src/libs/events.ts
Owners: none

Added AUTO_GENERATE_DATA_TABLES feature flag
  src/libs/feature-previews-config.ts
Owners: none

Added autoGenerateTsv api call to orchestration
  src/libs/ajax/workspaces/Workspaces.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added autoGenerateTsv to uploader
  src/workspace-data/upload-data/UploadData.js
Owners: @DataBiosphere/analysisjourneys

Remove checkBucketReadAccess call
  integration-tests/utils/integration-helpers.js
  src/libs/ajax/GoogleStorage.ts
  src/workspaces/common/state/useWorkspace.test.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Fix bucket location test
  src/workspaces/dashboard/BucketLocation.test.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

fix test again
  integration-tests/utils/integration-helpers.js
Owners: none

Improve RP error matching
  src/libs/ajax/GoogleStorage.ts
Owners: none

UIE-204 Narrow Ajax Usage pt12 (#5173)
  src/libs/ajax/ExternalCredentials.ts
  src/libs/ajax/User.ts
  src/profile/external-identities/LinkOAuth2Account.tsx
  src/profile/external-identities/NihAccount.test.ts
  src/profile/external-identities/NihAccount.ts
  src/profile/external-identities/OAuth2Account.test.tsx
  src/profile/external-identities/OAuth2Account.tsx
  src/profile/external-identities/UnlinkOAuth2Account.tsx
  src/profile/notification-settings/utils.test.ts
  src/profile/notification-settings/utils.ts
  src/registration/Register.test.ts
  src/registration/Register.tsx
  src/registration/privacy-policy/PrivacyPolicy.tsx
  src/registration/terms-of-service/TermsOfServicePage.test.ts
  src/registration/terms-of-service/TermsOfServicePage.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

refactored WorkflowModal
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/BaseWorkflowModal.tsx
  src/workflows/methods/modals/CreateNewWorkflowModal.test.tsx
  src/workflows/methods/modals/CreateNewWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
Owners: none

consolidate submit button logic
  src/workflows/methods/modals/BaseWorkflowModal.tsx
  src/workflows/methods/modals/CreateNewWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
Owners: none

Added tests
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: @DataBiosphere/analysisjourneys

[CORE-132] Autogenerate dataTable from Data Uploader (#5174)
  src/libs/ajax/workspaces/Workspaces.ts
  src/libs/events.ts
  src/libs/feature-previews-config.ts
  src/workspace-data/upload-data/UploadData.js
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/analysisjourneys

Fix bug for non RP workspaces
  src/workspaces/NewWorkspaceModal/NewWorkspaceModal.tsx
  src/workspaces/common/state/useWorkspace.test.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

broken EditMethodProvider.test.ts
  src/libs/ajax/methods/providers/EditMethodProvider.test.ts
Owners: none

Placate Jest
  src/libs/ajax/methods/providers/EditMethodProvider.test.ts
Owners: none

Reinstate checkBucketReadAccess
  src/libs/ajax/GoogleStorage.ts
  src/workspaces/common/state/useWorkspace.test.ts
  src/workspaces/common/state/useWorkspace.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

tests
  src/libs/ajax/methods/providers/EditMethodProvider.test.ts
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/SnapshotActionMenu.test.tsx
Owners: none

PR feedback
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/CreateNewWorkflowModal.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

Exported DropzoneState type
  src/components/Dropzone.ts
Owners: none

Added data upload step
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: @DataBiosphere/analysisjourneys

tests
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
Owners: none

refactor
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/CreateWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

Go to landing page from billing list
  src/pages/billing/BillingListPage.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Tests (work in progress)
  src/pages/billing/BillingListPage.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/billing-core/ @DataBiosphere/broadworkspaces-terra-ui
/src/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/EnvironmentsPage/ @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/dsp-data-team-eng
/src/import-data/ @DataBiosphere/dsp-data-team-eng @DataBiosphere/analysisjourneys
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/Catalog.ts @DataBiosphere/dsp-data-team-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/libs/ajax/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/library/DataBrowser* @DataBiosphere/dsp-data-team-eng
/src/pages/library/Datasets* @DataBiosphere/dsp-data-team-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/dsp-data-team-eng
/src/dataset-builder/ @DataBiosphere/dsp-data-team-eng
/src/data-catalog/ @DataBiosphere/dsp-data-team-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/workspaces/* @DataBiosphere/broadworkspaces-terra-ui
/src/profile/notification-settings/* @DataBiosphere/broadworkspaces-terra-ui
/src/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/workspace-data/ @DataBiosphere/analysisjourneys
/src/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/request-access.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/run-catalog* @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/analysisjourneys
