Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/dsp-data-team-eng, @DataBiosphere/analysisjourneys, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

Update select source that I keep coming across
  src/pages/methods/WorkflowList.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.tsx
Owners: none

Snapshot => Version
  src/libs/ajax/methods/methods-models.ts
  src/libs/ajax/methods/providers/EditMethodProvider.test.ts
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/workflow-details/WorkflowSummary.test.ts
  src/pages/methods/workflow-details/WorkflowSummary.ts
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

Fix tests?
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Fix tests?
  src/pages/library/Code.js
  src/pages/methods/WorkflowList.test.tsx
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.test.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowSummary.test.ts
  src/pages/methods/workflow-details/WorkflowSummary.ts
Owners: none

Code & Workflows => Workflows
  integration-tests/tests/find-workflow.js
  src/components/TopBar.tsx
  src/components/library-common.js
  src/pages/library/Code.js
  src/pages/library/Code.test.js
  src/pages/library/Showcase.test.js
Owners: none

Fix
  src/pages/methods/WorkflowList.test.tsx
Owners: none

Snapshot => Version
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
Owners: none

Added tests
  src/billing/Members/Members.test.tsx
  src/billing/utils.test.ts
  src/groups/Members/EmailSelect.test.tsx
  src/groups/Members/NewMemberModal.test.tsx
  src/groups/Members/RoleSelect.test.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added articleUrls
  src/libs/feature-previews-config.ts
  src/pages/FeaturePreviews.js
Owners: none

Added articleUrl tests
  src/pages/FeaturePreviews.test.ts
Owners: none

Added Go to Workspace list link
  src/pages/FeaturePreviews.js
Owners: none

Added Go to Workspace list tests
  src/pages/FeaturePreviews.test.ts
Owners: none

pr comments
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[CORE-196] Updated Feature Preview Page for better feedback and navigation (#5206)
  src/libs/feature-previews-config.ts
  src/pages/FeaturePreviews.js
  src/pages/FeaturePreviews.test.ts
Owners: none

Rename user email(s) to user emails
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

add new events
  src/billing/ConsolidatedSpendReport.tsx
  src/libs/events.ts
  src/libs/feature-previews-config.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Test addFunction is being called
  src/groups/Members/NewMemberModal.test.tsx
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Fixed collaborator layout
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Fixed UX Issues on EmailSelect
  src/groups/Members/EmailSelect.test.tsx
  src/groups/Members/EmailSelect.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Clear SearchValue in EmailSelect when added
  src/groups/Members/EmailSelect.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[CORE-5] Add Multiple Users to Billing Projects, Groups and Workspaces (#5205)
  src/billing/Members/Members.test.tsx
  src/billing/Members/Members.tsx
  src/billing/utils.test.ts
  src/billing/utils.ts
  src/groups/GroupDetails.tsx
  src/groups/Members/EmailSelect.test.tsx
  src/groups/Members/EmailSelect.tsx
  src/groups/Members/MemberTable.tsx
  src/groups/Members/NewMemberModal.test.tsx
  src/groups/Members/NewMemberModal.tsx
  src/groups/Members/RoleSelect.test.tsx
  src/groups/Members/RoleSelect.tsx
  src/libs/ajax/Groups.ts
  src/libs/ajax/billing/Billing.ts
  src/workspaces/ShareWorkspaceModal/Collaborator.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.test.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

wip
  src/pages/library/ABCWorkflowsLibrary.js
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

PR feedback
  src/libs/ajax/methods/providers/PermissionsProvider.ts
  src/pages/methods/WorkflowList.tsx
Owners: none

Tests for new subdirectory view
  src/components/file-browser/FilesInDirectory.test.ts
  src/components/file-browser/FilesTable.test.ts
Owners: none

Synchronize directory tree with main file browser view
  src/components/file-browser/DirectoryTree.test.ts
  src/components/file-browser/DirectoryTree.ts
Owners: none

fix test regressions
  src/components/file-browser/FileBrowser.test.ts
  src/workflows-app/SubmissionDetails.test.js
Owners: @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

Show subdirectories in main view of file browser
  src/components/file-browser/FileBrowser.ts
  src/components/file-browser/FilesInDirectory.ts
  src/components/file-browser/FilesTable.ts
  src/libs/ajax/file-browser-providers/AzureBlobStorageFileBrowserProvider.ts
  src/libs/ajax/file-browser-providers/FileBrowserProvider.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
Owners: none

no more modulo math
  src/components/file-browser/FilesInDirectory.ts
  src/libs/ajax/file-browser-providers/AzureBlobStorageFileBrowserProvider.ts
  src/libs/ajax/file-browser-providers/FileBrowserProvider.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
Owners: none

Make file and subdirectory requests more efficient
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.test.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
Owners: none

refactor PermissionsProvider
  src/libs/ajax/methods/providers/PermissionsProvider.test.ts
  src/libs/ajax/methods/providers/PermissionsProvider.ts
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
Owners: none

PR feedback
  src/pages/methods/WorkflowList.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
Owners: none

fix test
  src/pages/methods/WorkflowList.test.tsx
Owners: none

[CORE-112] Show folders in main file view in file browser (#5207)
  src/components/file-browser/DirectoryTree.test.ts
  src/components/file-browser/DirectoryTree.ts
  src/components/file-browser/FileBrowser.test.ts
  src/components/file-browser/FileBrowser.ts
  src/components/file-browser/FilesInDirectory.test.ts
  src/components/file-browser/FilesInDirectory.ts
  src/components/file-browser/FilesTable.test.ts
  src/components/file-browser/FilesTable.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.test.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
  src/workflows-app/SubmissionDetails.test.js
Owners: @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

Fix add collaborator layout
  src/workspaces/ShareWorkspaceModal/Collaborator.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Update AddGroupUsers with new bulkMembershipUpdate Api
  src/libs/ajax/Groups.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

wip - layout matches; todo styling
  src/images/library/workflows/broad-square.svg
  src/images/library/workflows/dockstore.svg
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/library/workflows/curated-workflows-utils.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

Removed removeEmails option
  src/libs/ajax/Groups.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

UIE-204 Narrow Ajax Usage pt18 - added TODOs to later fix a couple of type any casts on incorrect ajax listAppsV2 mock return value types.
  src/workflows-app/SubmissionDetails.test.ts
Owners: @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/billing-core/ @DataBiosphere/broadworkspaces-terra-ui
/src/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/EnvironmentsPage/ @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/dsp-data-team-eng
/src/import-data/ @DataBiosphere/dsp-data-team-eng @DataBiosphere/analysisjourneys
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/Catalog.ts @DataBiosphere/dsp-data-team-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/libs/ajax/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/library/DataBrowser* @DataBiosphere/dsp-data-team-eng
/src/pages/library/Datasets* @DataBiosphere/dsp-data-team-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/dsp-data-team-eng
/src/dataset-builder/ @DataBiosphere/dsp-data-team-eng
/src/data-catalog/ @DataBiosphere/dsp-data-team-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/workspaces/* @DataBiosphere/broadworkspaces-terra-ui
/src/profile/notification-settings/* @DataBiosphere/broadworkspaces-terra-ui
/src/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/workspace-data/ @DataBiosphere/analysisjourneys
/src/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/request-access.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/run-catalog* @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/analysisjourneys
