Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/dsp-data-team-eng, @DataBiosphere/analysisjourneys, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

UIE-204 Narrow Ajax Usage pt17 (#5200)
  src/groups/NewGroupModal.test.tsx
  src/workspace-data/ImportStatus.test.ts
  src/workspace-data/ImportStatus.ts
  src/workspace-data/WorkspaceAttributes.js
  src/workspace-data/WorkspaceAttributes.test.tsx
  src/workspace-data/import-jobs.test.ts
  src/workspace-data/import-jobs.ts
  src/workspace-data/provenance/workspace-data-provenance-utils.js
  src/workspace-data/provenance/workspace-data-provenance-utils.test.js
  src/workspace-data/reference-data/ReferenceDataDeleter.js
  src/workspace-data/reference-data/ReferenceDataImporter.js
  src/workspace-data/upload-data/UploadPreviewTable.js
  src/workspace-data/useDataTableProvider.test.ts
  src/workspace-data/useDataTableProvider.ts
  src/workspace-data/useWorkspaceDataAttributes.test.ts
  src/workspace-data/useWorkspaceDataAttributes.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/analysisjourneys

[CORE-239] Restore Azure workspace writer sharing (#5202)
  src/workspaces/ShareWorkspaceModal/Collaborator.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

update messaging
  src/libs/feature-previews-config.ts
Owners: none

begin caching
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
  src/libs/state.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

fix test and add mixpanel event
  src/billing/List/BillingList.test.tsx
  src/billing/List/BillingList.tsx
  src/libs/events.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Update plural label
  src/groups/Members/MemberTable.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Update member tests
  src/billing/Members/Members.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated validation on member modal
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added EmailSelect Component
  src/groups/Members/EmailSelect.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added RoleSelect Component
  src/groups/Members/RoleSelect.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added Email and Role Select Components to NewMemberModal
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

hopefully fix test
  src/billing/List/BillingList.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

fix sorting
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[AN-229] Add batch workspace setting (#5201)
  src/libs/ajax/workspaces/workspace-models.ts
  src/libs/events.ts
  src/libs/feature-previews-config.ts
  src/workspaces/SettingsModal/Batch.tsx
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
  src/workspaces/SettingsModal/utils.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

hopefully fix missing workspaces problem
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

fix merge
  src/libs/feature-previews-config.ts
Owners: none

update/remove pagination
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Update Workspaces.ts
  src/libs/ajax/workspaces/Workspaces.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Update Email and Role Select Components
  src/groups/Members/EmailSelect.tsx
  src/groups/Members/RoleSelect.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated aclInput with column style options
  src/workspaces/ShareWorkspaceModal/Collaborator.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated NewMemberModal
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated ShareWorkspaceModal
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Moved email array validation to util
  src/billing/utils.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated NewMemberModal
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated ShareWorkspaceModal with Validation and Saving Acls
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Enable copy-pasting comma-separated options
  src/groups/Members/EmailSelect.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated Member Tests
  src/billing/Members/Members.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added addProjectUsers function
  src/libs/ajax/billing/Billing.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added addGroupUsers function
  src/libs/ajax/Groups.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated Members Tests
  src/billing/Members/Members.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Updated to use Bulk functions
  src/billing/Members/Members.tsx
  src/groups/GroupDetails.tsx
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

added tests
  src/libs/ajax/methods/providers/PermissionsProvider.test.ts
  src/pages/methods/WorkflowList.test.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
Owners: none

Fix flex layout
  src/groups/Members/NewMemberModal.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

fix sonarcloud issue
  src/workflows/methods/modals/PermissionsModal.tsx
Owners: none

rename to Workflows Library
  integration-tests/tests/find-workflow.js
  src/components/TopBar.tsx
  src/components/library-common.js
  src/libs/routes.js
  src/pages/library/Showcase.test.js
  src/pages/library/WorkflowsLibrary.js
  src/pages/library/WorkflowsLibrary.test.js
Owners: none

Update most (?) production code
  src/components/breadcrumbs.js
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowSummary.ts
  src/pages/methods/workflow-details/WorkflowWdl.ts
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

Update more production code
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

Start updating tests
  src/pages/methods/WorkflowList.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
Owners: none

Update more tests
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

User-visible place
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/billing-core/ @DataBiosphere/broadworkspaces-terra-ui
/src/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/EnvironmentsPage/ @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/dsp-data-team-eng
/src/import-data/ @DataBiosphere/dsp-data-team-eng @DataBiosphere/analysisjourneys
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/Catalog.ts @DataBiosphere/dsp-data-team-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/libs/ajax/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/library/DataBrowser* @DataBiosphere/dsp-data-team-eng
/src/pages/library/Datasets* @DataBiosphere/dsp-data-team-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/dsp-data-team-eng
/src/dataset-builder/ @DataBiosphere/dsp-data-team-eng
/src/data-catalog/ @DataBiosphere/dsp-data-team-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/workspaces/* @DataBiosphere/broadworkspaces-terra-ui
/src/profile/notification-settings/* @DataBiosphere/broadworkspaces-terra-ui
/src/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/workspace-data/ @DataBiosphere/analysisjourneys
/src/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/request-access.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/run-catalog* @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/analysisjourneys
