Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/terra-cobranding, @DataBiosphere/interactive-analysis, @DataBiosphere/broadworkspaces

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.js @DataBiosphere/interactive-analysis
/src/libs/ajax/Runtimes.js @DataBiosphere/interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/interactive-analysis
/src/libs/ajax/GoogleStorage.js @DataBiosphere/interactive-analysis
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces
/src/pages/workspaces/* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/*Dashboard* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/*Workspace* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/analysis @DataBiosphere/interactive-analysis
/src/components/*Workspace* @DataBiosphere/broadworkspaces
/src/components/workspace-utils* @DataBiosphere/broadworkspaces
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces
/integration-tests/tests/janitor.js @DataBiosphere/broadworkspaces
/integration-tests/tests/workspace-dashboard.js @DataBiosphere/broadworkspaces

Fix BillingList import
  src/pages/billing/BillingListPage.test.tsx
Owners: @DataBiosphere/broadworkspaces

Added banner background image
  src/images/roadmap-bg-banner.png
Owners: none

Added RoadMap Link to Platform News
  src/components/TopBar.tsx
Owners: none

Persist user project
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: none

Added RoadMap Card to Landing Page
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

Fixed repeating bg image
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

Added optional roadMap configs
  src/libs/brands.ts
Owners: none

Added check to show roadmap on enabled brands
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

[CORE-184] Restrict Roadmap Banner Display to Specific Branded Sites (#5179)
  src/libs/brands.ts
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

sonar feedback
  src/libs/ajax/workspaces/Workspaces.ts
Owners: none

[CORE-184] Add Public Roadmap Banner to Home Page (#5178)
  src/components/TopBar.tsx
  src/images/roadmap-bg-banner.png
  src/libs/brands.ts
  src/pages/LandingPage.js
Owners: @DataBiosphere/terra-cobranding

TS error-typing fix
  src/workspaces/common/state/useWorkspace.ts
Owners: none

clone error so it can be read twice
  src/workspaces/common/state/useWorkspace.ts
Owners: none

Updated BillingListPage Tests
  src/pages/billing/BillingListPage.test.tsx
Owners: @DataBiosphere/broadworkspaces

[CORE-152] Make navigation behavior on billing list page consistent (#5177)
  src/pages/billing/BillingListPage.test.tsx
  src/pages/billing/BillingListPage.tsx
Owners: @DataBiosphere/broadworkspaces

UIE-204 Narrow Ajax Usage pt13 - shifting ajax usage to directly use ajax sub-areas for some of the src/pages uses. - improving mock types where possible.
  src/pages/ImportWorkflow/importDockstoreWorkflow.test.ts
  src/pages/ImportWorkflow/importDockstoreWorkflow.ts
  src/pages/LandingPage.js
  src/pages/library/Code.js
  src/pages/library/Code.test.js
  src/pages/library/Datasets.js
  src/pages/library/Datasets.test.js
  src/pages/library/SearchAndFilterComponent.ts
  src/pages/library/Showcase.js
  src/pages/library/Showcase.test.js
Owners: @DataBiosphere/terra-cobranding

remove a spinner-wait in preview-drs-uri test
  integration-tests/tests/preview-drs-uri.js
Owners: none

dont fail integration tests if cleanup fails
  integration-tests/utils/integration-helpers.js
Owners: none

wip
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

PR feedback
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

remove import
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
Owners: none

CORE-192: ignore errors during integration test cleanup; remove a spinner-wait in preview-drs-uri test (#5180)
  integration-tests/tests/preview-drs-uri.js
  integration-tests/utils/integration-helpers.js
Owners: none

Scaffold IGV support for DRS URIs
  src/components/IGVFileSelector.js
Owners: none

working Find workflow modal
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

Run loadGoogleBucketLocation by default if no location found
  src/workspaces/dashboard/BucketLocation.ts
Owners: none

Handle requester-pays HTTPS URLs resolved from DRS URIs
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
Owners: none

Run loadGoogleBucketLocation by default if no location found
  integration-tests/tests/preview-drs-uri.js
  integration-tests/utils/integration-helpers.js
  src/workspaces/dashboard/BucketLocation.test.ts
Owners: none

Refactored switch case
  src/workspaces/dashboard/BucketLocation.ts
Owners: none

fix eslint error
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
Owners: none

add cohort builder users as a group on the feature preview
  src/libs/feature-previews-config.ts
Owners: none

Added arrange, act & assert comments
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt13 (#5176)
  src/pages/ImportWorkflow/importDockstoreWorkflow.test.ts
  src/pages/ImportWorkflow/importDockstoreWorkflow.ts
  src/pages/LandingPage.js
  src/pages/library/Code.js
  src/pages/library/Code.test.js
  src/pages/library/Datasets.js
  src/pages/library/Datasets.test.js
  src/pages/library/SearchAndFilterComponent.ts
  src/pages/library/Showcase.js
  src/pages/library/Showcase.test.js
Owners: @DataBiosphere/terra-cobranding

Corrected comments
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: none

[CORE-194] Adding Unit Tests to UploadData Component (#5181)
  src/components/Dropzone.ts
  src/workspace-data/upload-data/UploadData.test.tsx
Owners: none

new workflow modal and tests
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/Workflows.test.js
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

[DT-1053] Make cohort browser feature preview private (#5183)
  src/libs/feature-previews-config.ts
Owners: none

show link to budget doc no matter billingscope
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
Owners: none

Make user project persist
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: none

VSCode is confused
  src/workspaces/dashboard/BucketLocation.ts
Owners: none

Add, integrate feature flag for IGV enhancements
  src/components/IGVFileSelector.js
  src/libs/feature-previews-config.ts
Owners: none
