Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/dsp-data-team-eng, @DataBiosphere/analysisjourneys, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/billing-core/ @DataBiosphere/broadworkspaces-terra-ui
/src/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/EnvironmentsPage/ @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/dsp-data-team-eng
/src/import-data/ @DataBiosphere/dsp-data-team-eng @DataBiosphere/analysisjourneys
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broadworkspaces-terra-ui
/src/libs/ajax/Catalog.ts @DataBiosphere/dsp-data-team-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/libs/ajax/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/library/DataBrowser* @DataBiosphere/dsp-data-team-eng
/src/pages/library/Datasets* @DataBiosphere/dsp-data-team-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/dsp-data-team-eng
/src/dataset-builder/ @DataBiosphere/dsp-data-team-eng
/src/data-catalog/ @DataBiosphere/dsp-data-team-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/groups/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/workspaces/* @DataBiosphere/broadworkspaces-terra-ui
/src/profile/notification-settings/* @DataBiosphere/broadworkspaces-terra-ui
/src/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/workspace-data/ @DataBiosphere/analysisjourneys
/src/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/request-access.js @DataBiosphere/dsp-data-team-eng
/integration-tests/tests/run-catalog* @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/dsp-data-team-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/analysisjourneys

[CORE-174] Add link to budget alert documentation for GCP billing accounts (#5182)
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Remove feature preview
  src/libs/feature-previews-config.ts
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

[CORE-51] Remove GCP lifecycle settings feature preview (#5185)
  src/libs/feature-previews-config.ts
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

add perworkflowcostcap
  src/libs/analysis.js
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

does this fix tests?
  src/pages/workspaces/workspace/Workflows.test.js
Owners: none

[AN-247] Edit method functionality (#5175)
  src/libs/ajax/methods/Methods.ts
  src/libs/ajax/methods/methods-models.ts
  src/libs/ajax/methods/providers/EditMethodProvider.test.ts
  src/libs/ajax/methods/providers/EditMethodProvider.ts
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/CreateWorkflowModal.test.tsx
  src/workflows/methods/modals/CreateWorkflowModal.tsx
  src/workflows/methods/modals/EditWorkflowModal.test.tsx
  src/workflows/methods/modals/EditWorkflowModal.tsx
  src/workflows/methods/modals/WorkflowModal.tsx
  src/workflows/methods/modals/WorkflowModalCommon.tsx
Owners: none

put behind feature flag
  src/libs/feature-previews-config.ts
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

add text in launch modal
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

add mixpanel metric
  src/libs/events.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

whoops
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

convert test file to ts
  src/pages/workspaces/workspace/Workflows.test.ts
Owners: none

Fix IGV index detection for TDR URLs, update tests
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
Owners: none

remove google checkBucketLocation
  src/libs/ajax/GoogleStorage.ts
Owners: none

[CORE-53] Fix requester pays behavior for bucket location (#5171)
  integration-tests/utils/integration-helpers.js
  src/libs/ajax/GoogleStorage.ts
  src/libs/ajax/workspaces/Workspaces.ts
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/workspaces/NewWorkspaceModal/NewWorkspaceModal.tsx
  src/workspaces/common/state/useWorkspace.test.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.test.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

save costcap to preferences
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

UIE-204 Narrow Ajax Usage pt14 - rebase lint cleanup
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt14 - shifting ajax usage to directly use ajax sub-areas for rest of the src/pages uses. - improving mock types where possible.
  src/libs/ajax/methods/Methods.ts
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/pages/workspaces/workspace/JobHistory.js
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/Workflows.test.js
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
  src/pages/workspaces/workspace/jobHistory/UpdateUserCommentModal.js
  src/pages/workspaces/workspace/jobHistory/WorkflowDashboard.js
  src/pages/workspaces/workspace/workflows/FailureRerunner.js
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
Owners: none

UIE-204 Narrow Ajax Usage pt14 - rebase merge fix
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

update verbiage
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

Add interstitial loading message for DRS IGV candidate files
  src/components/IGVFileSelector.js
Owners: none

Omit DRS URI parameters when showing file name for IGV selection
  src/components/IGVFileSelector.js
Owners: none

tests
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.test.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.test.js
Owners: none

UIE-204 Narrow Ajax Usage pt14 (#5187)
  src/libs/ajax/methods/Methods.ts
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/pages/workspaces/workspace/JobHistory.js
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/Workflows.test.js
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
  src/pages/workspaces/workspace/jobHistory/UpdateUserCommentModal.js
  src/pages/workspaces/workspace/jobHistory/WorkflowDashboard.js
  src/pages/workspaces/workspace/workflows/FailureRerunner.js
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
Owners: none

small updates
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

Revert "[CORE-51] Remove GCP lifecycle settings feature preview (#5185)"
  src/libs/feature-previews-config.ts
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Omit DRS URI parameters in IGV track name
  src/components/IGVBrowser.js
Owners: none

Enable viewing genomic features in track upon searching most genes
  src/components/IGVBrowser.js
Owners: none

PR feedback; merge changes
  src/pages/workspaces/workspace/Workflows.test.js
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

fix tests
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
Owners: none

PR feedback
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

pretty up
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

support no-prefix/no-suffix TSV column headers
  src/libs/ajax/data-table-providers/EntityServiceDataTableProvider.ts
  src/workspace-data/data-table/shared/EntityUploader.js
Owners: @DataBiosphere/analysisjourneys

terminology
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
Owners: none

[CORE-176] Allow users to set workflow cost limit (#5186)
  src/libs/analysis.js
  src/libs/events.ts
  src/libs/feature-previews-config.ts
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.test.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.js
  src/pages/workspaces/workspace/workflows/WorkflowView.test.js
Owners: none

UIE-204 Narrow Ajax Usage pt15 - shifting ajax usage to directly use ajax sub-areas for support and misc top-level uses. - improving mock types where possible.
  src/alerts/service-alerts.test.ts
  src/alerts/service-alerts.ts
  src/alerts/version-alerts.test.ts
  src/alerts/version-alerts.ts
  src/auth/AuthContainer.test.tsx
  src/auth/system-loader.ts
  src/groups/GroupDetails.test.tsx
  src/groups/GroupDetails.tsx
  src/groups/Members/NewMemberModal.tsx
  src/groups/NewGroupModal.test.tsx
  src/groups/NewGroupModal.tsx
  src/libs/ajax.ts
  src/support/ResourcePolicies.test.tsx
  src/support/ResourcePolicies.tsx
  src/support/SupportResourceType.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

unit test coverage; use existing getSuggestedTableName method
  src/libs/ajax/data-table-providers/EntityServiceDataTableProvider.ts
  src/workspace-data/data-table/shared/EntityUploader.js
  src/workspace-data/data-table/shared/EntityUploader.test.js
Owners: @DataBiosphere/analysisjourneys

reword error message
  src/libs/ajax/data-table-providers/EntityServiceDataTableProvider.ts
Owners: none

UIE-204 Narrow Ajax Usage pt15 (#5189)
  src/alerts/service-alerts.test.ts
  src/alerts/service-alerts.ts
  src/alerts/version-alerts.test.ts
  src/alerts/version-alerts.ts
  src/auth/AuthContainer.test.tsx
  src/auth/system-loader.ts
  src/groups/GroupDetails.test.tsx
  src/groups/GroupDetails.tsx
  src/groups/Members/NewMemberModal.tsx
  src/groups/NewGroupModal.test.tsx
  src/groups/NewGroupModal.tsx
  src/libs/ajax.ts
  src/support/ResourcePolicies.test.tsx
  src/support/ResourcePolicies.tsx
  src/support/SupportResourceType.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Show no-files when DRS resolved without valid selection
  src/components/IGVFileSelector.js
Owners: none

Add tests for DRS support in IGV
  src/components/IGVFileSelector.test.js
Owners: none
