Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/broadworkspaces-terra-ui, @DataBiosphere/data-explorer-eng, @DataBiosphere/analysisjourneys, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broad-workflow-execution

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/billing-core/ @DataBiosphere/broadworkspaces-terra-ui
/src/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/EnvironmentsPage/ @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/analysisjourneys
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces-terra-ui
/src/pages/workspaces/* @DataBiosphere/broadworkspaces-terra-ui
/src/workflows-app/ @DataBiosphere/broad-workflow-management @DataBiosphere/broad-workflow-execution
/src/workspace-data/ @DataBiosphere/analysisjourneys
/src/workspaces/ @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/workspace-dashboard.js @DataBiosphere/broadworkspaces-terra-ui
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng

Remove spend report request if no workspaces
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed expansion dropdowns
  src/billing/Workspaces/Workspaces.test.tsx
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed expansion dropdowns
  src/billing/SpendReport/SpendReport.tsx
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed spinnerOverlay
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed expansion dropdowns
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed unnecessary nesting
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

remove any mention of K80 GPUs as they are no longer supported
  src/analysis/utils/cost-utils.test.ts
  src/analysis/utils/gce-machines.ts
  src/analysis/utils/runtime-utils.test.ts
  src/analysis/utils/runtime-utils.ts
Owners: @DataBiosphere/broad-interactive-analysis

[AN-3] Remove any mention of K80 GPUs as they are no longer supported (#5167)
  src/analysis/utils/cost-utils.test.ts
  src/analysis/utils/gce-machines.ts
  src/analysis/utils/runtime-utils.test.ts
  src/analysis/utils/runtime-utils.ts
Owners: @DataBiosphere/broad-interactive-analysis

Fixed default values to improve sorting
  src/billing/Workspaces/Workspaces.test.tsx
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

work in progress
  src/libs/ajax/workspaces/Workspaces.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

rp fixes
  src/libs/ajax/GoogleStorage.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Move spinner to cover table only
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Fix sorting of currency strings
  src/billing/Workspaces/Workspaces.tsx
  src/billing/utils.test.ts
  src/billing/utils.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Allow undefined spend data
  src/billing/utils.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed New and Interesting Tab
  src/workspaces/list/CategorizedWorkspaces.ts
  src/workspaces/list/WorkspacesListTabs.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Removed New and Interesting Tab Tests
  src/workspaces/list/NoContentMessage.test.tsx
  src/workspaces/list/WorkspacesListTabs.test.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

UIE-204 Narrow Ajax Usage pt11 (#5164)
  src/billing/List/BillingList.tsx
  src/billing/List/BillingProjectActions.test.tsx
  src/billing/List/BillingProjectActions.tsx
  src/billing/List/GCPNewBillingProjectModal.tsx
  src/billing/List/ProjectListItem.tsx
  src/billing/Members/Members.test.tsx
  src/billing/Members/Members.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureBillingProjectWizard.test.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureBillingProjectWizard.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureSubscriptionStep.test.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureSubscriptionStep.tsx
  src/billing/SpendReport/SpendReport.test.tsx
  src/billing/SpendReport/SpendReport.tsx
  src/libs/ajax/billing/Billing.ts
  src/libs/ajax/billing/billing-models.ts
  src/libs/ajax/fetch/fetch-core.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

[CORE-154] Remove "New and Interesting" Tab and Move Workspaces to Featured (#5169)
  src/workspaces/list/CategorizedWorkspaces.ts
  src/workspaces/list/NoContentMessage.test.tsx
  src/workspaces/list/WorkspacesListTabs.test.ts
  src/workspaces/list/WorkspacesListTabs.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Spacing empty workspace list
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

Added Newspaper icon
  packages/components/src/internal/icon-library.tsx
Owners: none

Added Platform News Menu
  src/components/TopBar.tsx
Owners: none

Updated feature preview message
  src/pages/FeaturePreviews.js
Owners: none

Added N/A test case
  src/billing/Workspaces/Workspaces.test.tsx
Owners: @DataBiosphere/broadworkspaces-terra-ui

use only default pet sa tokens
  src/libs/ajax/GoogleStorage.ts
Owners: none

[CORE-42] Improved Spend Reports - Display Workspace Costs for Billing Projects (#5165)
  src/billing/Filter/DateRangeFilter.test.tsx
  src/billing/Filter/DateRangeFilter.tsx
  src/billing/Filter/SearchFilter.test.tsx
  src/billing/Filter/SearchFilter.tsx
  src/billing/Project.test.tsx
  src/billing/SpendReport/SpendReport.test.tsx
  src/billing/SpendReport/SpendReport.tsx
  src/billing/Workspaces/Workspaces.test.tsx
  src/billing/Workspaces/Workspaces.tsx
  src/billing/utils.test.ts
  src/billing/utils.ts
  src/libs/ajax/workspaces/workspace-models.ts
  src/libs/feature-previews-config.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

CORE-155 use shell project pet service account instead of project specific (#5166)
  src/libs/ajax/GoogleStorage.ts
Owners: none

Added last updated dates to feature preview config
  src/libs/feature-previews-config.ts
Owners: none

Added Switch and LastUpdated Column to feature preview table
  src/pages/FeaturePreviews.js
Owners: none

PR feedback
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/modals/WorkflowModal.test.tsx
  src/workflows/methods/modals/WorkflowModal.tsx
Owners: none

Added private icon and additional table formatting
  src/pages/FeaturePreviews.js
Owners: none

Added (de)select all
  src/pages/FeaturePreviews.js
Owners: none

Fixed toggle logic
  src/pages/FeaturePreviews.js
Owners: none

Fixed feature preview tests
  src/pages/FeaturePreviews.test.ts
Owners: none

Use Rawls for bucket location
  src/libs/ajax/GoogleStorage.ts
  src/libs/ajax/workspaces/Workspaces.ts
  src/workspaces/common/state/useWorkspace.ts
  src/workspaces/dashboard/BucketLocation.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

fixes
  integration-tests/utils/integration-helpers.js
  src/pages/workspaces/workspace/workflows/LaunchAnalysisModal.js
  src/workspaces/NewWorkspaceModal/NewWorkspaceModal.tsx
  src/workspaces/common/state/useWorkspace.test.ts
Owners: @DataBiosphere/broadworkspaces-terra-ui

Swap Platform News Menu with Support Menu
  src/components/TopBar.tsx
Owners: none

Fixed nested logic
  src/pages/FeaturePreviews.js
Owners: none

Fixed accessibility errors
  src/pages/FeaturePreviews.js
Owners: none

[CORE-156] Enhance Feature Preview Page Visibility and Usability in Navigation (#5170)
  packages/components/src/internal/icon-library.tsx
  src/components/TopBar.tsx
  src/libs/feature-previews-config.ts
  src/pages/FeaturePreviews.js
  src/pages/FeaturePreviews.test.ts
Owners: none

change naming
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/modals/WorkflowModal.test.tsx
Owners: none
