Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

Add bucket link to title
  src/pages/workspaces/workspace/Files.ts
Owners: none

[AN-156] Broad Methods Repository: "workflows" to "methods" (#5098)
  src/components/breadcrumbs.js
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow/WorkflowSummary.test.ts
  src/pages/workflows/workflow/WorkflowSummary.ts
  src/pages/workflows/workflow/WorkflowWdl.ts
  src/pages/workflows/workflow/WorkflowWrapper.test.tsx
  src/pages/workflows/workflow/WorkflowWrapper.ts
  src/pages/workflows/workflow/common/WorkflowModal.test.tsx
Owners: none

Move Snapshot type
  src/libs/ajax/methods/Methods.ts
  src/libs/ajax/methods/methods-models.ts
  src/libs/state.ts
  src/pages/MethodsRepo/workflow-details/WorkflowWrapper.test.tsx
  src/pages/MethodsRepo/workflow-details/WorkflowWrapper.ts
  src/snapshots/Snapshot.ts
Owners: none

title should only be string on link
  src/components/file-browser/FileBrowser.ts
Owners: none

Add layout constraints for image preview
  src/workspace-data/data-table/uri-viewer/UriPreview.js
Owners: @DataBiosphere/broad-core-services

Fix incorrect auto-merge
  src/pages/MethodsRepo/WorkflowList.tsx
Owners: none

Combine imports
  src/libs/ajax/methods/Methods.ts
Owners: none

[CORE-113] Update File Browser with Workspace Name and "Open Bucket in Browser" Link for GCP (#5154)
  src/components/file-browser/FileBrowser.ts
  src/pages/workspaces/workspace/Files.ts
Owners: none

add check that group 3 does not exist
  src/dataset-builder/CohortEditor.test.ts
Owners: @DataBiosphere/data-explorer-eng

[CORE-136] Add Size Constraints to Images in File Previews to Preserve Layout (#5156)
  src/workspace-data/data-table/uri-viewer/UriPreview.js
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt10 - shifting ajax usage to directly use ajax sub-areas for some of the billing area. - improving mock types where possible.
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
  src/billing/CreateGCPBillingProject.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/AddTerraAsBillingAccountUserStep.test.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/AddTerraAsBillingAccountUserStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/BillingAccountAccessStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/ContactAccountAdminToAddUserStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/CreateTerraProjectStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/GCPBillingProjectWizard.test.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/GoToGCPConsoleStep.tsx
  src/billing/Project.test.tsx
  src/billing/Project.tsx
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

DT-734: update cohort builder snapshot IDs to use new snapshots that include sample data (#5138)
  src/pages/library/Datasets.js
Owners: @DataBiosphere/data-explorer-eng

Change "methods repo" to "methods" in directory paths
  src/libs/routes.js
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowSummary.test.ts
  src/pages/methods/workflow-details/WorkflowSummary.ts
  src/pages/methods/workflow-details/WorkflowWdl.test.ts
  src/pages/methods/workflow-details/WorkflowWdl.ts
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/WDLEditor.mock.tsx
  src/workflows/methods/WDLEditor.test.tsx
  src/workflows/methods/WDLEditor.tsx
  src/workflows/methods/WorkflowRightBoxSection.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.test.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
  src/workflows/methods/modals/WorkflowModal.test.tsx
  src/workflows/methods/modals/WorkflowModal.tsx
  src/workflows/methods/workflows-acl-utils.ts
Owners: none

rename to PostMethodProvider
  packages/components/src/Link.test.tsx
  packages/components/src/buttons.test.tsx
  src/libs/ajax/methods/providers/CreateMethodProvider.test.ts
  src/libs/ajax/methods/providers/PostMethodProvider.ts
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow/common/WorkflowModal.test.tsx
  src/pages/workflows/workflow/common/WorkflowModal.tsx
Owners: none

Added file preview to File Browser
  src/components/file-browser/FileBrowser.ts
Owners: none

[AN-160] Reorganize methods repository files (#5155)
  src/libs/ajax/methods/Methods.ts
  src/libs/ajax/methods/methods-models.ts
  src/libs/routes.js
  src/libs/state.ts
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowSummary.test.ts
  src/pages/methods/workflow-details/WorkflowSummary.ts
  src/pages/methods/workflow-details/WorkflowWdl.test.ts
  src/pages/methods/workflow-details/WorkflowWdl.ts
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/pages/workflows/workflow-utils.ts
  src/pages/workflows/workflow/workflows-acl-utils.ts
  src/snapshots/Snapshot.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/SnapshotActionMenu.tsx
  src/workflows/methods/WDLEditor.mock.tsx
  src/workflows/methods/WDLEditor.test.tsx
  src/workflows/methods/WDLEditor.tsx
  src/workflows/methods/WorkflowRightBoxSection.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.test.tsx
  src/workflows/methods/modals/DeleteSnapshotModal.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
  src/workflows/methods/modals/PermissionsModal.tsx
  src/workflows/methods/modals/WorkflowModal.test.tsx
  src/workflows/methods/modals/WorkflowModal.tsx
  src/workflows/methods/workflows-acl-utils.ts
Owners: none

[CORE-115] Added File Preview Support to File Browser (#5158)
  src/components/file-browser/FileBrowser.ts
Owners: none

Update comment
  src/libs/ajax/methods/methods-models.ts
Owners: none

use id for id instead of name
  src/components/ColumnSettingsList.test.ts
  src/components/ColumnSettingsList.ts
  src/components/table.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.js
Owners: @DataBiosphere/broad-core-services

Update table.js
  src/components/table.js
Owners: none

Update SavedColumnSettings.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.js
Owners: @DataBiosphere/broad-core-services

[CORE-148] Use id for id instead of name in columnsettings (#5160)
  src/components/ColumnSettingsList.test.ts
  src/components/ColumnSettingsList.ts
  src/components/table.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.js
Owners: @DataBiosphere/broad-core-services

[AN-242] Update documentation comment for Orchestration schema model (#5159)
  src/libs/ajax/methods/methods-models.ts
Owners: none

UIE-204 Narrow Ajax Usage pt10 (#5157)
  src/billing/BillingAccount/BillingAccountControls.test.tsx
  src/billing/BillingAccount/BillingAccountControls.tsx
  src/billing/CreateGCPBillingProject.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/AddTerraAsBillingAccountUserStep.test.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/AddTerraAsBillingAccountUserStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/BillingAccountAccessStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/ContactAccountAdminToAddUserStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/CreateTerraProjectStep.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/GCPBillingProjectWizard.test.tsx
  src/billing/NewBillingProjectWizard/GCPBillingProjectWizard/GoToGCPConsoleStep.tsx
  src/billing/Project.test.tsx
  src/billing/Project.tsx
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Added spendReporting feature-flag
  src/libs/feature-previews-config.ts
Owners: none

Added cost columns to workspace list
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Added DateRangeFilter
  src/billing/Filter/DateRangeFilter.tsx
Owners: @DataBiosphere/broad-core-services

Added SearchFilter
  src/billing/Filter/SearchFilter.tsx
Owners: @DataBiosphere/broad-core-services

Added Filters to Workspace List
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Updated feature-preview text
  src/libs/feature-previews-config.ts
Owners: none

Integrated search on workspace list
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

working clone method
  src/pages/workflows/workflow/WorkflowWrapper.ts
  src/workflows/SnapshotActionMenu.tsx
Owners: none

Add `.gz` to allowlist
  src/components/IGVFileSelector.js
Owners: none

Add `.gz` to second allowlist
  src/components/IGVFileSelector.js
Owners: none

Linter delay
  src/components/IGVFileSelector.js
Owners: none

clone tests
  src/pages/workflows/workflow/common/WorkflowModal.test.tsx
  src/workflows/SnapshotActionMenu.test.tsx
Owners: none

revert unintentional changes
  packages/components/src/Link.test.tsx
  packages/components/src/buttons.test.tsx
Owners: none

Add void to metric calls
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

fix tests
  src/libs/ajax/methods/providers/CreateMethodProvider.test.ts
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

cleanup
  src/libs/ajax/methods/providers/PostMethodProvider.test.ts
  src/workflows/methods/SnapshotActionMenu.test.tsx
  src/workflows/methods/modals/WorkflowModal.test.tsx
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services
