Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services

Added WorkspaceCategorySpendReport Type
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broad-core-services

Added WorkspaceCategorySpendReport to Workspace List
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Updated errorMessage and useEffect
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Fixed failing tests
  src/billing/Project.test.tsx
Owners: @DataBiosphere/broad-core-services

Updated errorMessage to spendErrorMessage
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Reordered filter location
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

use snapshot in modal
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/WorkflowModal.test.tsx
Owners: none

Remove error
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Added loading state
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Check spendDetails
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Add test case
  src/components/IGVFileSelector.test.js
Owners: none

Wrapped Workspace tests with act
  src/billing/Workspaces/Workspaces.test.tsx
Owners: @DataBiosphere/broad-core-services

Added Spend Updating Status Spinner
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

additional tests
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

remove playground
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
Owners: none

Deduplication refactor
  src/components/IGVFileSelector.js
Owners: none

Linter delay
  src/components/IGVFileSelector.js
Owners: none

Linter delay
  src/components/IGVFileSelector.js
Owners: none

Ah yes, Javascript wants semicolons
  src/components/IGVFileSelector.js
Owners: none

revert test change
  src/dataset-builder/CohortEditor.test.ts
Owners: @DataBiosphere/data-explorer-eng

reset store
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

persist SeparateSubmissionFinalOutputs on first save of bucket lifecycle rules
  src/workspaces/SettingsModal/utils.test.ts
  src/workspaces/SettingsModal/utils.ts
Owners: @DataBiosphere/broad-core-services

add comment
  src/pages/methods/workflow-details/WorkflowWrapper.ts
Owners: none

[DT-947]Fix flaky CohortEditor unit tests (#5153)
  .pnp.cjs
  .yarn/cache/react-lazy-named-npm-1.2.2-0bdbb21359-0ba297c460.zip
  package.json
  src/billing/SpendReport/SpendReport.tsx
  src/components/Chart.js
  src/dataset-builder/CohortEditor.test.ts
  src/dataset-builder/CohortEditor.ts
  src/dataset-builder/DatasetBuilderDetails.ts
  yarn.lock
Owners: @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng

AN-207 Add support for gzipped VCFs in IGV (#5161)
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
Owners: none

wip
  src/libs/ajax/methods/Methods.ts
  src/libs/ajax/methods/methods-models.ts
Owners: none

Removed WorkspaceCategorySpendReport interface
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broad-core-services

Added optional spend attributes to BaseWorkspaceInfo
  src/libs/ajax/workspaces/workspace-models.ts
Owners: @DataBiosphere/broad-core-services

Refactored Billing Workspace to allow Ordering
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Removed WorkspaceCategorySpendReport interface
  src/billing/Workspaces/Workspaces.tsx
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broad-core-services

update act import source
  src/billing/Workspaces/Workspaces.test.tsx
Owners: @DataBiosphere/broad-core-services

Added Filter tests
  src/billing/Filter/DateRangeFilter.test.tsx
  src/billing/Filter/SearchFilter.test.tsx
Owners: @DataBiosphere/broad-core-services

Set optional checks
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Added Spend and Filter Workspace Tests
  src/billing/Workspaces/Workspaces.test.tsx
Owners: @DataBiosphere/broad-core-services

CORE-150: persist SeparateSubmissionFinalOutputs on first save of bucket lifecycle rules (#5163)
  src/workspaces/SettingsModal/utils.test.ts
  src/workspaces/SettingsModal/utils.ts
Owners: @DataBiosphere/broad-core-services

Change defaultSort
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt11 - shifting ajax usage to directly use ajax sub-areas for the rest of the billing area. - improving mock types where possible.
  src/billing/List/BillingList.tsx
  src/billing/List/BillingProjectActions.test.tsx
  src/billing/List/BillingProjectActions.tsx
  src/billing/List/GCPNewBillingProjectModal.tsx
  src/billing/List/ProjectListItem.tsx
  src/billing/Members/Members.test.tsx
  src/billing/Members/Members.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureBillingProjectWizard.test.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureBillingProjectWizard.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureSubscriptionStep.test.tsx
  src/billing/NewBillingProjectWizard/AzureBillingProjectWizard/AzureSubscriptionStep.tsx
  src/billing/SpendReport/SpendReport.test.tsx
  src/billing/SpendReport/SpendReport.tsx
  src/libs/ajax/billing/Billing.ts
  src/libs/ajax/billing/billing-models.ts
  src/libs/ajax/fetch/fetch-core.ts
Owners: @DataBiosphere/broad-core-services

use shell project for read-only workspaces
  src/libs/ajax/GoogleStorage.ts
Owners: none

Narrow Ajax Usage
  src/billing/Project.test.tsx
  src/billing/Workspaces/Workspaces.test.tsx
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services

Refactor sorting check
  src/billing/Workspaces/Workspaces.tsx
Owners: @DataBiosphere/broad-core-services
