Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

UIE-204 Narrow Ajax Usage pt7 (#5144)
  src/pages/workspaces/DashboardAuthContainer.test.tsx
  src/pages/workspaces/DashboardAuthContainer.tsx
  src/pages/workspaces/DashboardPublic.js
  src/workspaces/RequestAccessModal/RequestAccessModal.test.tsx
  src/workspaces/RequestAccessModal/RequestAccessModal.tsx
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.test.tsx
  src/workspaces/ShareWorkspaceModal/ShareWorkspaceModal.tsx
Owners: @DataBiosphere/broad-core-services

Fix issue where a missing mock was causing a test to fail, although the failure wasn't caught by the jest test runner.
  src/dataset-builder/DatasetBuilder.test.ts
Owners: @DataBiosphere/data-explorer-eng

Additional test updates
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/workflow/common/WorkflowModal.test.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt8 - shifting ajax usage to directly use ajax sub-areas for some terra-ui common components. - improving mock types where possible.
  src/components/WorkflowSelector.js
  src/components/data/FileBrowser.js
  src/components/data/data-utils.js
  src/libs/ajax/data-table-providers/EntityServiceDataTableProvider.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.test.js
  src/workspace-data/Data.js
  src/workspace-data/Data.test.ts
  src/workspace-data/data-table/entity-service/EntitiesContent.js
  src/workspace-data/data-table/entity-service/EntitiesContent.test.ts
  src/workspace-data/data-table/entity-service/ExportDataModal.js
  src/workspace-data/data-table/shared/DataTable.js
  src/workspace-data/data-table/shared/DataTable.test.ts
  src/workspace-data/upload-data/UploadData.js
Owners: @DataBiosphere/broad-core-services

Fix incorrect flow typing
  src/pages/workflows/WorkflowList.tsx
Owners: none

Disable failing tests
  src/dataset-builder/CohortEditor.test.ts
Owners: @DataBiosphere/data-explorer-eng

UIE-204 Narrow Ajax Usage pt8 (#5146)
  src/components/WorkflowSelector.js
  src/components/data/FileBrowser.js
  src/components/data/data-utils.js
  src/libs/ajax/data-table-providers/EntityServiceDataTableProvider.ts
  src/pages/workspaces/workspace/workflows/WorkflowView.test.js
  src/workspace-data/Data.js
  src/workspace-data/Data.test.ts
  src/workspace-data/data-table/entity-service/EntitiesContent.js
  src/workspace-data/data-table/entity-service/EntitiesContent.test.ts
  src/workspace-data/data-table/entity-service/ExportDataModal.js
  src/workspace-data/data-table/shared/DataTable.js
  src/workspace-data/data-table/shared/DataTable.test.ts
  src/workspace-data/upload-data/UploadData.js
Owners: @DataBiosphere/broad-core-services

[DT-772] Disable failing test (#5147)
  src/dataset-builder/CohortEditor.test.ts
Owners: @DataBiosphere/data-explorer-eng

simplify flags
  integration-tests/jest-puppeteer.config.js
Owners: none

Improve typing for tab keys
  src/pages/workflows/WorkflowList.tsx
Owners: none

update transitive dependency
  .pnp.cjs
  .yarn/cache/ws-npm-8.16.0-46943f6199-feb3eecd2b.zip
  .yarn/cache/ws-npm-8.17.1-f57fb24a2c-442badcce1.zip
  yarn.lock
Owners: none

CORE-109: update transitive dependency `ws` (#5148)
  .pnp.cjs
  .yarn/cache/ws-npm-8.16.0-46943f6199-feb3eecd2b.zip
  .yarn/cache/ws-npm-8.17.1-f57fb24a2c-442badcce1.zip
  yarn.lock
Owners: none

Remove unnecessary duplication of object
  src/pages/workflows/WorkflowList.tsx
Owners: none

Fix WorkflowWrapper test file
  src/pages/workflows/workflow/WorkflowWrapper.test.tsx
Owners: none

Additional test updates
  src/pages/workflows/workflow/WorkflowWrapper.test.tsx
Owners: none

Update comment
  src/pages/workflows/workflow/WorkflowWrapper.ts
Owners: none

Added extraMenuItems prop
  src/components/file-browser/FileBrowser.ts
  src/components/file-browser/FilesInDirectory.ts
  src/components/file-browser/FilesMenu.ts
Owners: none

Added seqr link to extraMenuItems prop for workspace files FileBrowser
  src/pages/workspaces/workspace/Files.ts
Owners: none

Added workspaceFilesSeqr event capture
  src/pages/workspaces/workspace/Files.ts
Owners: none

Added workspaceFilesSeqr event
  src/libs/events.ts
Owners: none

Remove async await for event capture
  src/pages/workspaces/workspace/Files.ts
Owners: none

DT-772: Address flaky test failures in the cohort builder (#5145)
  src/dataset-builder/DatasetBuilder.test.ts
Owners: @DataBiosphere/data-explorer-eng

menu go up
  src/workspace-data/WorkspaceAttributes.js
Owners: @DataBiosphere/broad-core-services

feat: update Slack channel for data team
  integration-tests/slack/slack-notify-channels.json
Owners: none

[CORE-82] Make workspace data type dropdown menu drop up (#5150)
  src/workspace-data/WorkspaceAttributes.js
Owners: @DataBiosphere/broad-core-services

[CORE-106] Add "Analyze in Seqr" Link to New File Browser (#5149)
  src/components/file-browser/FileBrowser.ts
  src/components/file-browser/FilesInDirectory.ts
  src/components/file-browser/FilesMenu.ts
  src/libs/events.ts
  src/pages/workspaces/workspace/Files.ts
Owners: none

Reorganize files within workflows directories
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow/WorkflowSummary.ts
  src/pages/workflows/workflow/WorkflowWrapper.ts
  src/workflows/methods-repo/SnapshotActionMenu.test.tsx
  src/workflows/methods-repo/SnapshotActionMenu.tsx
  src/workflows/methods-repo/WDLEditor.mock.tsx
  src/workflows/methods-repo/WDLEditor.test.tsx
  src/workflows/methods-repo/WDLEditor.tsx
  src/workflows/methods-repo/WorkflowRightBoxSection.tsx
  src/workflows/methods-repo/modals/DeleteSnapshotModal.test.tsx
  src/workflows/methods-repo/modals/DeleteSnapshotModal.tsx
  src/workflows/methods-repo/modals/PermissionsModal.test.tsx
  src/workflows/methods-repo/modals/PermissionsModal.tsx
  src/workflows/methods-repo/modals/WorkflowModal.test.tsx
  src/workflows/methods-repo/modals/WorkflowModal.tsx
  src/workflows/methods-repo/workflows-acl-utils.ts
Owners: none

Move schema type definition into Ajax models file
  src/libs/ajax/methods/methods-models.ts
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-utils.ts
Owners: none

Add return type for method definitions API call
  src/libs/ajax/methods/Methods.ts
Owners: none

simplify cohort editor test
  src/dataset-builder/CohortEditor.test.ts
Owners: @DataBiosphere/data-explorer-eng

[DT-837] Update Slack channel for data team (#5151)
  integration-tests/slack/slack-notify-channels.json
Owners: none

UIE-204 Narrow Ajax Usage pt9 - shifting ajax usage to directly use ajax sub-areas for the rest of terra-ui common components. - improving mock types where possible.
  src/components/FeaturePreviewFeedbackModal.js
  src/components/IGVBrowser.js
  src/components/LeaveResourceModal.js
  src/components/PrivateDataExplorer.js
  src/components/RightBoxSection.test.tsx
  src/components/SupportRequest.js
  src/components/TopBar.test.ts
  src/components/TopBar.tsx
  src/components/tabBars.js
  src/groups/GroupList.test.tsx
  src/groups/GroupList.tsx
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt9 (#5152)
  src/components/FeaturePreviewFeedbackModal.js
  src/components/IGVBrowser.js
  src/components/LeaveResourceModal.js
  src/components/PrivateDataExplorer.js
  src/components/RightBoxSection.test.tsx
  src/components/SupportRequest.js
  src/components/TopBar.test.ts
  src/components/TopBar.tsx
  src/components/tabBars.js
  src/groups/GroupList.test.tsx
  src/groups/GroupList.tsx
Owners: @DataBiosphere/broad-core-services

mock Chart, rm default from Chart export
  .yarn/cache/react-lazy-named-npm-1.2.2-0bdbb21359-0ba297c460.zip
Owners: none

mock Chart, rm default from Chart export
  .pnp.cjs
  package.json
  src/billing/SpendReport/SpendReport.tsx
  src/components/Chart.js
  src/dataset-builder/CohortEditor.test.ts
  src/dataset-builder/CohortEditor.ts
  src/dataset-builder/DatasetBuilderDetails.ts
  yarn.lock
Owners: @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng

Reorganize workflows ACL types
  src/libs/ajax/methods/methods-models.ts
  src/workflows/methods-repo/workflows-acl-utils.ts
Owners: none

Type methods ACL endpoint calls
  src/libs/ajax/methods/Methods.ts
  src/workflows/methods-repo/modals/PermissionsModal.tsx
Owners: none

Update root label to be workspace name
  src/pages/workspaces/workspace/Files.ts
Owners: none

Rename directories
  src/libs/routes.js
  src/pages/MethodsRepo/WorkflowList.test.tsx
  src/pages/MethodsRepo/WorkflowList.tsx
  src/pages/MethodsRepo/workflow-details/WorkflowSummary.test.ts
  src/pages/MethodsRepo/workflow-details/WorkflowSummary.ts
  src/pages/MethodsRepo/workflow-details/WorkflowWdl.test.ts
  src/pages/MethodsRepo/workflow-details/WorkflowWdl.ts
  src/pages/MethodsRepo/workflow-details/WorkflowWrapper.test.tsx
  src/pages/MethodsRepo/workflow-details/WorkflowWrapper.ts
Owners: none

Change title prop type
  src/components/file-browser/FileBrowser.ts
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services
