Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

test
  src/auth/signout/sign-out.test.ts
Owners: none

Add feedback emails back in
  src/libs/feature-previews-config.ts
Owners: none

CORE-277 post_logout_redirect_uri can't be a fragment (#5235)
  src/auth/signout/sign-out.test.ts
  src/auth/signout/sign-out.ts
Owners: none

Add mailto link back to test
  src/pages/FeaturePreviews.test.ts
Owners: none

[CORE-196] Refactor feedbackURL and articleURL in feature preview logic (#5224)
  src/libs/feature-previews-config.ts
  src/pages/FeaturePreviews.js
  src/pages/FeaturePreviews.test.ts
Owners: none

fix tests
  src/billing/ConsolidatedSpendReport.test.tsx
Owners: @DataBiosphere/broad-core-services

whoops
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broad-core-services

Added url to directoryTree
  src/components/file-browser/DirectoryTree.ts
Owners: none

Added url to FileBrowserDirectory interface
  src/libs/ajax/file-browser-providers/FileBrowserProvider.ts
Owners: none

Added url to Directories from GCSFileBrowserProvider
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
Owners: none

Added Clipboard Icon and URL to Folders
  src/components/file-browser/FilesTable.ts
Owners: none

Added Tests
  src/components/file-browser/DirectoryTree.test.ts
  src/components/file-browser/FileBrowser.test.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.test.ts
Owners: none

Fixed Tests
  src/components/file-browser/FilesTable.test.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.test.ts
Owners: none

Use nullish coalescing operator
  src/components/file-browser/FilesTable.ts
Owners: none

[CORE-249] Add Copy Functionality for Folders in File Browser (#5236)
  src/components/file-browser/DirectoryTree.test.ts
  src/components/file-browser/DirectoryTree.ts
  src/components/file-browser/FileBrowser.test.ts
  src/components/file-browser/FilesTable.test.ts
  src/components/file-browser/FilesTable.ts
  src/libs/ajax/file-browser-providers/FileBrowserProvider.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.test.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
Owners: none

add endTime and startTime
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broad-core-services

add explanation of n/a
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broad-core-services

remove commented out code
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt23 - narrow Ajax() usage within some of src/libs/ajax area to call Ajax().SubAreaX directly. - improve mock types where possible
  src/libs/ajax/analysis-providers/AnalysisProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoAppProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoAppProvider.ts
  src/libs/ajax/leonardo/providers/LeoDiskProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoRuntimeProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoRuntimeProvider.ts
  src/libs/ajax/workspaces/providers/ExportWorkflowToWorkspaceProvider.test.ts
  src/libs/ajax/workspaces/providers/ExportWorkflowToWorkspaceProvider.ts
  src/libs/ajax/workspaces/providers/WorkspaceProvider.test.ts
  src/libs/ajax/workspaces/providers/WorkspaceProvider.ts
  src/workspaces/common/state/useCloudEnvironmentPolling.test.ts
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt22 - just getting started...
  src/libs/ajax/analysis-providers/AnalysisProvider.test.ts
  src/libs/ajax/analysis-providers/AnalysisProvider.ts
Owners: none

[CORE-268] Improve Consolidated Spend Report error handling (#5232)
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
  src/libs/ajax/billing/billing-models.ts
Owners: @DataBiosphere/broad-core-services

Msilva/UIE-204 narrow ajax usage pt23 (#5237)
  src/libs/ajax/analysis-providers/AnalysisProvider.test.ts
  src/libs/ajax/analysis-providers/AnalysisProvider.ts
  src/libs/ajax/leonardo/providers/LeoAppProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoAppProvider.ts
  src/libs/ajax/leonardo/providers/LeoDiskProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoRuntimeProvider.test.ts
  src/libs/ajax/leonardo/providers/LeoRuntimeProvider.ts
  src/libs/ajax/workspaces/providers/ExportWorkflowToWorkspaceProvider.test.ts
  src/libs/ajax/workspaces/providers/ExportWorkflowToWorkspaceProvider.ts
  src/libs/ajax/workspaces/providers/WorkspaceProvider.test.ts
  src/libs/ajax/workspaces/providers/WorkspaceProvider.ts
  src/workspaces/common/state/useCloudEnvironmentPolling.test.ts
Owners: @DataBiosphere/broad-core-services

update refresh logic to throw error
  src/analysis/useAnalysisFiles.ts
Owners: @DataBiosphere/dsp-analysis

refreshAnalysis on initialization of component
  src/analysis/Analyses.ts
Owners: @DataBiosphere/dsp-analysis

Added tests
  src/analysis/Analyses.test.ts
  src/analysis/useAnalysisFiles.test.ts
Owners: @DataBiosphere/dsp-analysis

Added back init refresh
  src/analysis/useAnalysisFiles.ts
Owners: @DataBiosphere/dsp-analysis

feat: improve the authorization domain message
  src/workspaces/NewWorkspaceModal/NewWorkspaceModal.tsx
Owners: @DataBiosphere/broad-core-services

[CORE-272] Fix Missing Prompt for Billing Workspace in Requester Pays Workspaces Analysis Tab (#5238)
  src/analysis/Analyses.test.ts
  src/analysis/Analyses.ts
  src/analysis/useAnalysisFiles.test.ts
  src/analysis/useAnalysisFiles.ts
Owners: @DataBiosphere/dsp-analysis

fix: add space between text and link
  src/workspaces/NewWorkspaceModal/NewWorkspaceModal.tsx
Owners: @DataBiosphere/broad-core-services

[DT-1183] Improve the Authorization Domain message (#5239)
  src/workspaces/NewWorkspaceModal/NewWorkspaceModal.tsx
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt24 - fixed duplicated imports
  src/libs/ajax/data-table-providers/WdsDataTableProvider.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
Owners: none

UIE-204 Narrow Ajax Usage pt24 - fixed lingering ajax mock reference
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.test.ts
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt24 (final) (#5240)
  src/appLoader.js
  src/libs/ajax.test.ts
  src/libs/ajax.ts
  src/libs/ajax/AzureStorage.ts
  src/libs/ajax/SamResources.ts
  src/libs/ajax/compute-image-providers/ComputeImageProvider.ts
  src/libs/ajax/data-table-providers/WdsDataTableProvider.test.ts
  src/libs/ajax/data-table-providers/WdsDataTableProvider.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.test.ts
  src/libs/ajax/file-browser-providers/GCSFileBrowserProvider.ts
  src/libs/ajax/workspaces/Workspaces.ts
  src/support/ResourcePolicies.test.tsx
  src/workflows-app/RunDetails.test.ts
  src/workspaces/DeleteWorkspaceModal/state/useDeleteWorkspaceState.test.ts
Owners: @DataBiosphere/broad-core-services, @DataBiosphere/dsp-analysis

add button and test
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broad-core-services

[CORE-280] Allow users to filter consolidated spend report to their created workspaces (#5241)
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
Owners: @DataBiosphere/broad-core-services

lint
  src/auth/oidc-broker.ts
  src/auth/signout/sign-out.ts
Owners: none

tests
  src/auth/signout/sign-out.test.ts
Owners: none

tests
  src/auth/signout/sign-out.test.ts
Owners: none

tests
  src/auth/signout/sign-out.test.ts
Owners: none

remove feature flag
  src/analysis/modals/ComputeModal/AboutInstalledPackagesView.ts
  src/libs/feature-previews-config.ts
  src/pages/library/WorkflowsLibrary.test.tsx
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
  src/pages/workspaces/workspace/workflows/WorkflowView.js
  src/pages/workspaces/workspace/workflows/methodLink.js
Owners: @DataBiosphere/dsp-analysis

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services
