Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/broad-interactive-analysis, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding, @DataBiosphere/broad-workflow-management, @DataBiosphere/broadworkspaces

namespace -> collection
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/EditWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: none

fix tests
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/modals/CreateWorkflowModal.test.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/EditWorkflowModal.test.tsx
  src/workflows/modals/PermissionsModal.test.tsx
Owners: none

update feature preview
  src/libs/feature-previews-config.ts
Owners: none

small nit
  src/workflows/modals/CreateWorkflowModal.test.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
Owners: none

PR feedback
  src/libs/feature-previews-config.ts
Owners: none

investigation
  src/import-data/ImportData.ts
  src/workspace-data/Data.js
  src/workspace-data/ImportStatus.ts
  src/workspace-data/import-jobs.ts
Owners: @DataBiosphere/data-explorer-eng

comment about renaming
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowSummary.ts
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: none

[AN-149] Rename 'namespace' to 'collection' & update feature preview section (#5212)
  src/libs/feature-previews-config.ts
  src/pages/workflows/WorkflowList.test.tsx
  src/pages/workflows/WorkflowList.tsx
  src/pages/workflows/workflow-details/WorkflowSummary.ts
  src/pages/workflows/workflow-details/WorkflowWrapper.test.tsx
  src/pages/workflows/workflow-details/WorkflowWrapper.ts
  src/workflows/modals/CreateWorkflowModal.test.tsx
  src/workflows/modals/CreateWorkflowModal.tsx
  src/workflows/modals/EditWorkflowModal.test.tsx
  src/workflows/modals/EditWorkflowModal.tsx
  src/workflows/modals/PermissionsModal.test.tsx
  src/workflows/modals/PermissionsModal.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt19 - fixed minor variable name typo
  src/workflows-app/components/ImportGithub.test.ts
Owners: @DataBiosphere/broad-workflow-management

begin to updated spend report list item
  src/billing/ConsolidatedSpendReport.tsx
  src/billing/List/BillingList.tsx
  src/billing/List/ProjectListItem.tsx
Owners: none

add User to support page
  src/libs/ajax/User.ts
  src/support/LookupSummaryAndPolicies.tsx
  src/support/SupportResourceType.ts
Owners: none

UIE-204 Narrow Ajax Usage pt19 (#5213)
  src/libs/ajax/workflows-app/WorkflowScript.ts
  src/libs/state.ts
  src/workflows-app/SubmissionConfig.test.js
  src/workflows-app/SubmissionConfig.test.ts
  src/workflows-app/components/ImportGithub.test.ts
  src/workflows-app/components/ImportGithub.ts
  src/workflows-app/components/ImportWorkflowModal.ts
  src/workflows-app/components/SubmitWorkflowModal.test.ts
  src/workflows-app/components/SubmitWorkflowModal.ts
  src/workflows-app/components/WorkflowsAppNavPanel.test.ts
  src/workflows-app/components/WorkflowsAppNavPanel.ts
Owners: @DataBiosphere/broad-workflow-management

update feature preview and hover ui
  src/billing/List/BillingList.tsx
  src/libs/feature-previews-config.ts
Owners: none

fix header display
  src/billing/ConsolidatedSpendReport.tsx
Owners: none

[AN-338] Fix IGV handling of signed URLs for requester-pays, refine metrics (#5211)
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
  src/workspace-data/data-table/entity-service/EntitiesContent.js
Owners: none

CORE-259: add User to support page (#5214)
  src/libs/ajax/User.ts
  src/support/LookupSummaryAndPolicies.tsx
  src/support/SupportResourceType.ts
Owners: none

add show all workspaces button
  src/billing/ConsolidatedSpendReport.tsx
  src/libs/state.ts
Owners: none

[CORE-41] Add new Consolidated Spend Report page (#5192)
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
  src/billing/List/BillingList.test.tsx
  src/billing/List/BillingList.tsx
  src/billing/List/ProjectListItem.tsx
  src/libs/ajax/billing/Billing.ts
  src/libs/events.ts
  src/libs/feature-previews-config.ts
  src/libs/state.ts
  src/pages/billing/BillingListPage.test.tsx
  src/pages/billing/BillingListPage.tsx
Owners: @DataBiosphere/broadworkspaces

check for fast fail jobs and notify
  src/import-data/ImportData.ts
  src/workspace-data/import-jobs.ts
Owners: @DataBiosphere/data-explorer-eng

forgot to remove consoles
  src/workspace-data/Data.js
  src/workspace-data/ImportStatus.ts
Owners: none

Add additional considerations to the cost limit tooltip
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

fix and add test
  src/workspace-data/import-jobs.test.ts
Owners: none

CORE-238: Add additional considerations to the cost limit tooltip (#5216)
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

only notify for jobs in this workspace
  src/workspace-data/import-jobs.test.ts
  src/workspace-data/import-jobs.ts
Owners: none

[CORE-206] Notify of import error on fast fails (#5215)
  src/workspace-data/import-jobs.test.ts
  src/workspace-data/import-jobs.ts
Owners: none

add LegacyRstudio to the list of R image ids
  src/analysis/utils/tool-utils.ts
Owners: @DataBiosphere/broad-interactive-analysis

[AN-332] Add LegacyRstudio to the list of R image ids (#5217)
  src/analysis/utils/tool-utils.ts
Owners: @DataBiosphere/broad-interactive-analysis

better error message on support page
  src/support/SupportSummary.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt20 (#5218)
  src/libs/ajax/workflows-app/Cbas.ts
  src/workflows-app/SubmissionConfig.js
  src/workflows-app/SubmissionHistory.js
  src/workflows-app/SubmissionHistory.test.ts
  src/workflows-app/SubmitWorkflow.js
  src/workflows-app/status/workflows-status.test.ts
  src/workflows-app/status/workflows-status.ts
  src/workflows-app/utils/app-utils.js
  src/workflows-app/utils/cromwell-metadata-utils.ts
  src/workflows-app/utils/method-common.js
  src/workflows-app/utils/method-common.test.ts
  src/workflows-app/utils/task-log-utils.ts
Owners: @DataBiosphere/broad-workflow-management

wip
  src/libs/events.ts
  src/pages/library/WorkflowsLibrary.tsx
Owners: none

fix titles
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

fix test
  src/pages/workspaces/workspace/Workflows.test.ts
Owners: none

[AN-369] Show "Terra Workflow Repository" behind feature flag (#5220)
  src/pages/library/WorkflowsLibrary.tsx
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

update name
  src/libs/events.ts
Owners: none

testing
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

Removed fake data
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

CORE-259: better error message on support page (#5219)
  src/support/SupportSummary.tsx
Owners: none

[AN-293] Add https://cdn.jsdelivr.net to BEE CSP allowlist
  nginx-bees.conf
Owners: none

cleanup
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

oops
  src/pages/workspaces/workspace/jobHistory/SubmissionDetails.js
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/broad-interactive-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/GoogleStorage.js @DataBiosphere/broad-interactive-analysis
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/broad-workflow-management
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/dataBrowser-utils* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/pages/library/test-datasets.ts @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broadworkspaces
/src/pages/workspaces/* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/*Dashboard* @DataBiosphere/broadworkspaces
/src/pages/workspaces/workspace/*Workspace* @DataBiosphere/broadworkspaces
/src/components/*Workspace* @DataBiosphere/broadworkspaces
/src/components/workspace-utils* @DataBiosphere/broadworkspaces
/src/workflows-app/ @DataBiosphere/broad-workflow-management
/integration-tests/tests/billing-projects.js @DataBiosphere/broadworkspaces
/integration-tests/tests/janitor.js @DataBiosphere/broadworkspaces
/integration-tests/tests/workspace-dashboard.js @DataBiosphere/broadworkspaces
/integration-tests/tests/run-analysis.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/broad-interactive-analysis
/integration-tests/tests/export-*-dataset-to-new-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
