Repository DataBiosphere/saturn-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataBiosphere/dsp-analysis, @DataBiosphere/broad-core-services, @DataBiosphere/data-explorer-eng, @DataBiosphere/terra-cobranding

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
/src/analysis @DataBiosphere/dsp-analysis
/src/billing-core/ @DataBiosphere/broad-core-services
/src/billing/ @DataBiosphere/broad-core-services
/src/groups/ @DataBiosphere/broad-core-services
/src/pages/EnvironmentsPage/ @DataBiosphere/dsp-analysis
/src/constants/datasets.js @DataBiosphere/data-explorer-eng
/src/import-data/ @DataBiosphere/data-explorer-eng @DataBiosphere/broad-core-services
/src/libs/brand*.js @DataBiosphere/terra-cobranding
/src/libs/colors.js @DataBiosphere/terra-cobranding
/src/libs/ajax/Apps.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/Runtimes.ts @DataBiosphere/dsp-analysis
/src/libs/ajax/AzureStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/billing/ @DataBiosphere/broad-core-services
/src/libs/ajax/GoogleStorage.js @DataBiosphere/dsp-analysis
/src/libs/ajax/Groups.ts @DataBiosphere/broad-core-services
/src/libs/ajax/Catalog.ts @DataBiosphere/data-explorer-eng
/src/libs/ajax/workflows-app/ @DataBiosphere/dsp-analysis
/src/libs/ajax/workspaces/ @DataBiosphere/broad-core-services
/src/pages/library/DataBrowser* @DataBiosphere/data-explorer-eng
/src/pages/library/Datasets* @DataBiosphere/data-explorer-eng
/src/pages/library/SearchAndFilterComponent* @DataBiosphere/data-explorer-eng
/src/dataset-builder/ @DataBiosphere/data-explorer-eng
/src/data-catalog/ @DataBiosphere/data-explorer-eng
/src/pages/LandingPage* @DataBiosphere/terra-cobranding
/src/pages/billing/ @DataBiosphere/broad-core-services
/src/pages/groups/ @DataBiosphere/broad-core-services
/src/pages/workspaces/* @DataBiosphere/broad-core-services
/src/profile/notification-settings/* @DataBiosphere/broad-core-services
/src/workflows-app/ @DataBiosphere/dsp-analysis
/src/workspace-data/ @DataBiosphere/broad-core-services
/src/workspaces/ @DataBiosphere/broad-core-services
/integration-tests/tests/billing-projects.js @DataBiosphere/broad-core-services
/integration-tests/tests/delete-orphaned-workspaces.js @DataBiosphere/broad-core-services
/integration-tests/tests/run-analysis.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-analysis-azure.js @DataBiosphere/dsp-analysis
/integration-tests/tests/run-rstudio.js @DataBiosphere/dsp-analysis
/integration-tests/tests/analysis-context-bar.js @DataBiosphere/dsp-analysis
/integration-tests/tests/export-*-dataset-to-workspace.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/preview-dataset.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/request-access.js @DataBiosphere/data-explorer-eng
/integration-tests/tests/run-catalog* @DataBiosphere/data-explorer-eng
/integration-tests/utils/catalog-utils.js @DataBiosphere/data-explorer-eng
/integration-tests/utils/import-tdr-snapshot.ts @DataBiosphere/broad-core-services

[AN-258] Fix find workflow modal and update its layout (#5184)
  src/pages/workspaces/workspace/Workflows.js
  src/pages/workspaces/workspace/Workflows.test.js
  src/pages/workspaces/workspace/Workflows.test.ts
  src/pages/workspaces/workspace/modals/FindWorkflowModal.test.tsx
  src/pages/workspaces/workspace/modals/FindWorkflowModal.tsx
Owners: none

Clarify comments, metadata for IGV enhancements
  src/components/IGVFileSelector.test.js
  src/libs/feature-previews-config.ts
Owners: none

skeleton of cbsr
  src/billing/CrossBillingSpendReport.tsx
  src/billing/List/BillingList.tsx
  src/libs/ajax/billing/Billing.ts
  src/pages/billing/BillingListPage.tsx
Owners: @DataBiosphere/broad-core-services

CORE-162: support no-prefix/no-suffix TSV column headers (#5190)
  src/libs/ajax/data-table-providers/EntityServiceDataTableProvider.ts
  src/workspace-data/data-table/shared/EntityUploader.js
  src/workspace-data/data-table/shared/EntityUploader.test.js
Owners: @DataBiosphere/broad-core-services

wip; functional namespace permissions modal
  src/libs/ajax/methods/Methods.ts
  src/libs/ajax/methods/providers/PermissionsProvider.ts
  src/pages/methods/WorkflowList.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.ts
  src/workflows/methods/modals/PermissionsModal.tsx
Owners: none

Use DrsUriResolver directly, rather than higher-level Ajax module
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
Owners: none

make sure to filter multiple disk warning by user
  src/analysis/Environments/Environments.ts
  src/analysis/utils/app-utils.test.ts
  src/analysis/utils/disk-utils.ts
Owners: @DataBiosphere/dsp-analysis

UIE-204 Narrow Ajax Usage pt16 - minor added test cleanup
  src/workspace-data/data-table/wds/wds-status.test.ts
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt16 - shifting ajax usage to directly use ajax sub-areas for workspace-data/data-table area. - improving mock types where possible.
  src/workspace-data/data-table/entity-service/AddColumnModal.js
  src/workspace-data/data-table/entity-service/AddEntityModal.js
  src/workspace-data/data-table/entity-service/CreateEntitySetModal.js
  src/workspace-data/data-table/entity-service/EntityDeleter.js
  src/workspace-data/data-table/entity-service/EntityRenamer.js
  src/workspace-data/data-table/entity-service/MultipleEntityEditor.js
  src/workspace-data/data-table/entity-service/RenameTableModal.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.test.ts
  src/workspace-data/data-table/entity-service/SingleEntityEditor.js
  src/workspace-data/data-table/entity-service/SnapshotInfo.js
  src/workspace-data/data-table/shared/EntityUploader.js
  src/workspace-data/data-table/uri-viewer/UriDownloadButton.ts
  src/workspace-data/data-table/uri-viewer/UriPreview.js
  src/workspace-data/data-table/uri-viewer/UriViewer.js
  src/workspace-data/data-table/versioning/data-table-versioning-utils.js
  src/workspace-data/data-table/versioning/data-table-versioning-utils.test.js
  src/workspace-data/data-table/wds/wds-status.test.ts
  src/workspace-data/data-table/wds/wds-status.ts
Owners: @DataBiosphere/broad-core-services

Update language for demo
  src/dataset-builder/DatasetBuilder.test.ts
  src/dataset-builder/DatasetBuilder.ts
Owners: @DataBiosphere/data-explorer-eng

put back the original disks
  src/analysis/Environments/Environments.ts
Owners: @DataBiosphere/dsp-analysis

Apply suggestions from code review
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
Owners: none

[DT-1086] Update language for demo (#5195)
  src/dataset-builder/DatasetBuilder.test.ts
  src/dataset-builder/DatasetBuilder.ts
Owners: @DataBiosphere/data-explorer-eng

use NumberInput for cost cap
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

round to two decimal places
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

[AN-271] Make sure to filter multiple disk warning by user (#5194)
  src/analysis/Environments/Environments.ts
  src/analysis/utils/app-utils.test.ts
  src/analysis/utils/disk-utils.ts
Owners: @DataBiosphere/dsp-analysis

fix tests
  src/pages/methods/WorkflowList.test.tsx
  src/pages/methods/workflow-details/WorkflowWrapper.test.tsx
  src/workflows/methods/modals/PermissionsModal.test.tsx
Owners: none

UIE-204 Narrow Ajax Usage pt16 (#5193)
  src/workspace-data/data-table/entity-service/AddColumnModal.js
  src/workspace-data/data-table/entity-service/AddEntityModal.js
  src/workspace-data/data-table/entity-service/CreateEntitySetModal.js
  src/workspace-data/data-table/entity-service/EntityDeleter.js
  src/workspace-data/data-table/entity-service/EntityRenamer.js
  src/workspace-data/data-table/entity-service/MultipleEntityEditor.js
  src/workspace-data/data-table/entity-service/RenameTableModal.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.js
  src/workspace-data/data-table/entity-service/SavedColumnSettings.test.ts
  src/workspace-data/data-table/entity-service/SingleEntityEditor.js
  src/workspace-data/data-table/entity-service/SnapshotInfo.js
  src/workspace-data/data-table/shared/EntityUploader.js
  src/workspace-data/data-table/uri-viewer/UriDownloadButton.ts
  src/workspace-data/data-table/uri-viewer/UriPreview.js
  src/workspace-data/data-table/uri-viewer/UriViewer.js
  src/workspace-data/data-table/versioning/data-table-versioning-utils.js
  src/workspace-data/data-table/versioning/data-table-versioning-utils.test.js
  src/workspace-data/data-table/wds/wds-status.test.ts
  src/workspace-data/data-table/wds/wds-status.ts
Owners: @DataBiosphere/broad-core-services

CORE-216: cost cap validation (#5196)
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

allow per-workflow cost cap to be empty
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

javascript, not java
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

CORE-216: allow per-workflow cost cap to be empty (#5197)
  src/pages/workspaces/workspace/workflows/WorkflowView.js
Owners: none

[AN-308] Enable browsing genomic data with DRS URIs in IGV (#5191)
  src/components/IGVBrowser.js
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
  src/libs/feature-previews-config.ts
Owners: none

add searching etc
  src/billing/CrossBillingSpendReport.tsx
Owners: @DataBiosphere/broad-core-services

Update Pact version to eliminate unsafe version of cross-spawn
  .pnp.cjs
  .yarn/cache/@pact-foundation-pact-npm-12.1.1-66cd761533-3ed709cab7.zip
  .yarn/cache/@pact-foundation-pact-npm-13.2.0-6b2532d87e-c6a180f2a4.zip
  .yarn/cache/agent-base-npm-7.1.3-b2c16e72fb-87bb7ee54f.zip
  .yarn/cache/cli-color-npm-2.0.4-d35494cfd7-ac78b54405.zip
  .yarn/cache/cross-spawn-npm-7.0.3-e4ff3e65b3-671cc7c728.zip
  .yarn/cache/cross-spawn-npm-7.0.6-264bddf921-8d306efaca.zip
  .yarn/cache/d-npm-1.0.2-7abbb6ae36-775db1e8ce.zip
  .yarn/cache/es5-ext-npm-0.10.64-c30cdc3d60-01179fab07.zip
  .yarn/cache/es6-iterator-npm-2.0.3-4dadb0ccc1-6e48b1c2d9.zip
  .yarn/cache/es6-symbol-npm-3.1.3-34d72f2a23-cd49722c2a.zip
  .yarn/cache/es6-weak-map-npm-2.0.3-5e57e0b4e6-19ca15f46d.zip
  .yarn/cache/esniff-npm-2.0.1-26cea8766c-d814c0e5c3.zip
  .yarn/cache/event-emitter-npm-0.3.5-f1e8b8edb5-27c1399557.zip
  .yarn/cache/express-npm-4.21.2-9b3bd32250-3aef1d3556.zip
  .yarn/cache/ext-npm-1.7.0-580588ab93-ef481f9ef4.zip
  .yarn/cache/https-proxy-agent-npm-7.0.6-27a95c2690-b882377a12.zip
  .yarn/cache/is-promise-npm-2.2.2-afbf94db67-18bf7d1c59.zip
  .yarn/cache/lodash.omitby-npm-4.6.0-3787df0246-46b0bb8fca.zip
  .yarn/cache/lru-queue-npm-0.1.0-8e1c90dde8-7f2c53c5e7.zip
  .yarn/cache/memoizee-npm-0.4.15-69d374fc14-4065d94416.zip
  .yarn/cache/mkdirp-npm-1.0.0-b454864871-813e32a581.zip
  .yarn/cache/needle-npm-3.2.0-7773d3d8c8-d6f3e8668b.zip
  .yarn/cache/next-tick-npm-1.1.0-e0eb60d6a4-83b5cf3602.zip
  .yarn/cache/normalize-path-npm-2.1.1-65c4766716-7e9cbdcf7f.zip
  .yarn/cache/path-to-regexp-npm-0.1.12-a9bf1de212-ab237858be.zip
  .yarn/cache/promise-timeout-npm-1.3.0-da64435a64-ae81c36356.zip
  .yarn/cache/ramda-npm-0.28.0-6a5fe8f6cc-44ea6e5010.zip
  .yarn/cache/ramda-npm-0.30.1-b62811823d-ce6f4b6b96.zip
  .yarn/cache/remove-trailing-separator-npm-1.1.0-16d7231316-d3c20b5a2d.zip
  .yarn/cache/rimraf-npm-2.6.2-1be541ad99-5c13455dd4.zip
  .yarn/cache/timers-ext-npm-0.1.7-7edcefbfb5-ef3f27a070.zip
  .yarn/cache/type-npm-2.7.2-626963ea46-0f42379a8a.zip
  .yarn/cache/unixify-npm-1.0.0-6346176065-3be30e4857.zip
  package.json
  yarn.lock
Owners: none

Update express to inherit correct version of path-to-regexp
  .pnp.cjs
  .yarn/cache/agent-base-npm-7.1.1-c9e1a4b59e-51c158769c.zip
  .yarn/cache/express-npm-4.21.1-f1cd48000b-5ac2b26d8a.zip
  .yarn/cache/https-proxy-agent-npm-7.0.5-94c14d4619-2e1a28960f.zip
  .yarn/cache/path-to-regexp-npm-0.1.10-63516149e0-ab7a3b7a0b.zip
  yarn.lock
Owners: none

some fixes and renaming
  src/billing/ConsolidatedSpendReport.tsx
  src/billing/List/BillingList.tsx
  src/libs/feature-previews-config.ts
  src/pages/billing/BillingListPage.test.tsx
Owners: @DataBiosphere/broad-core-services

AN-312 Security Updates (#5198)
  .pnp.cjs
  .yarn/cache/@pact-foundation-pact-npm-12.1.1-66cd761533-3ed709cab7.zip
  .yarn/cache/@pact-foundation-pact-npm-13.2.0-6b2532d87e-c6a180f2a4.zip
  .yarn/cache/agent-base-npm-7.1.1-c9e1a4b59e-51c158769c.zip
  .yarn/cache/agent-base-npm-7.1.3-b2c16e72fb-87bb7ee54f.zip
  .yarn/cache/cli-color-npm-2.0.4-d35494cfd7-ac78b54405.zip
  .yarn/cache/cross-spawn-npm-7.0.3-e4ff3e65b3-671cc7c728.zip
  .yarn/cache/cross-spawn-npm-7.0.6-264bddf921-8d306efaca.zip
  .yarn/cache/d-npm-1.0.2-7abbb6ae36-775db1e8ce.zip
  .yarn/cache/es5-ext-npm-0.10.64-c30cdc3d60-01179fab07.zip
  .yarn/cache/es6-iterator-npm-2.0.3-4dadb0ccc1-6e48b1c2d9.zip
  .yarn/cache/es6-symbol-npm-3.1.3-34d72f2a23-cd49722c2a.zip
  .yarn/cache/es6-weak-map-npm-2.0.3-5e57e0b4e6-19ca15f46d.zip
  .yarn/cache/esniff-npm-2.0.1-26cea8766c-d814c0e5c3.zip
  .yarn/cache/event-emitter-npm-0.3.5-f1e8b8edb5-27c1399557.zip
  .yarn/cache/express-npm-4.21.1-f1cd48000b-5ac2b26d8a.zip
  .yarn/cache/express-npm-4.21.2-9b3bd32250-3aef1d3556.zip
  .yarn/cache/ext-npm-1.7.0-580588ab93-ef481f9ef4.zip
  .yarn/cache/https-proxy-agent-npm-7.0.5-94c14d4619-2e1a28960f.zip
  .yarn/cache/https-proxy-agent-npm-7.0.6-27a95c2690-b882377a12.zip
  .yarn/cache/is-promise-npm-2.2.2-afbf94db67-18bf7d1c59.zip
  .yarn/cache/lodash.omitby-npm-4.6.0-3787df0246-46b0bb8fca.zip
  .yarn/cache/lru-queue-npm-0.1.0-8e1c90dde8-7f2c53c5e7.zip
  .yarn/cache/memoizee-npm-0.4.15-69d374fc14-4065d94416.zip
  .yarn/cache/mkdirp-npm-1.0.0-b454864871-813e32a581.zip
  .yarn/cache/needle-npm-3.2.0-7773d3d8c8-d6f3e8668b.zip
  .yarn/cache/next-tick-npm-1.1.0-e0eb60d6a4-83b5cf3602.zip
  .yarn/cache/normalize-path-npm-2.1.1-65c4766716-7e9cbdcf7f.zip
  .yarn/cache/path-to-regexp-npm-0.1.10-63516149e0-ab7a3b7a0b.zip
  .yarn/cache/path-to-regexp-npm-0.1.12-a9bf1de212-ab237858be.zip
  .yarn/cache/promise-timeout-npm-1.3.0-da64435a64-ae81c36356.zip
  .yarn/cache/ramda-npm-0.28.0-6a5fe8f6cc-44ea6e5010.zip
  .yarn/cache/ramda-npm-0.30.1-b62811823d-ce6f4b6b96.zip
  .yarn/cache/remove-trailing-separator-npm-1.1.0-16d7231316-d3c20b5a2d.zip
  .yarn/cache/rimraf-npm-2.6.2-1be541ad99-5c13455dd4.zip
  .yarn/cache/timers-ext-npm-0.1.7-7edcefbfb5-ef3f27a070.zip
  .yarn/cache/type-npm-2.7.2-626963ea46-0f42379a8a.zip
  .yarn/cache/unixify-npm-1.0.0-6346176065-3be30e4857.zip
  package.json
  yarn.lock
Owners: none

Fix IGV file selection when row includes numeric value
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
Owners: none

Add more specific regression test
  src/components/IGVFileSelector.test.js
Owners: none

Catch 500 error
  src/libs/ajax/workspaces/Workspaces.ts
Owners: @DataBiosphere/broad-core-services

[AN-323] Fix opening IGV when data table row includes numeric value (#5199)
  src/components/IGVFileSelector.js
  src/components/IGVFileSelector.test.js
Owners: none

Update Labels to Plural
  src/billing/Members/Members.test.tsx
  src/billing/Members/Members.tsx
  src/groups/GroupDetails.tsx
Owners: @DataBiosphere/broad-core-services

Add UserEmail MultiSelect and Role Select DropDowns
  src/groups/Members/NewMemberModal.tsx
Owners: @DataBiosphere/broad-core-services

[AN-229] Add batch workspace setting
  src/libs/ajax/workspaces/workspace-models.ts
  src/libs/events.ts
  src/libs/feature-previews-config.ts
  src/workspaces/SettingsModal/Batch.tsx
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
  src/workspaces/SettingsModal/utils.ts
Owners: @DataBiosphere/broad-core-services

adjust setting name
  src/libs/ajax/workspaces/workspace-models.ts
  src/workspaces/SettingsModal/SettingsModal.test.tsx
  src/workspaces/SettingsModal/SettingsModal.tsx
  src/workspaces/SettingsModal/utils.ts
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt17 - shifting ajax usage to directly use ajax sub-areas for rest of the src/workspace-data area. - improving mock types where possible.
  src/workspace-data/ImportStatus.test.ts
  src/workspace-data/ImportStatus.ts
  src/workspace-data/WorkspaceAttributes.js
  src/workspace-data/WorkspaceAttributes.test.tsx
  src/workspace-data/import-jobs.test.ts
  src/workspace-data/import-jobs.ts
  src/workspace-data/provenance/workspace-data-provenance-utils.js
  src/workspace-data/provenance/workspace-data-provenance-utils.test.js
  src/workspace-data/reference-data/ReferenceDataDeleter.js
  src/workspace-data/reference-data/ReferenceDataImporter.js
  src/workspace-data/upload-data/UploadPreviewTable.js
  src/workspace-data/useDataTableProvider.test.ts
  src/workspace-data/useDataTableProvider.ts
  src/workspace-data/useWorkspaceDataAttributes.test.ts
  src/workspace-data/useWorkspaceDataAttributes.ts
Owners: @DataBiosphere/broad-core-services

UIE-204 Narrow Ajax Usage pt16 - test fix to remove act() warning in NewGroupModal test treated as error in pipeline. - minor fixed in same test file
  src/groups/NewGroupModal.test.tsx
Owners: @DataBiosphere/broad-core-services

udpates and tests
  src/billing/ConsolidatedSpendReport.test.tsx
  src/billing/ConsolidatedSpendReport.tsx
  src/billing/List/BillingList.test.tsx
  src/billing/List/BillingList.tsx
Owners: @DataBiosphere/broad-core-services

restore can-compute default to false for azure workspaces
  src/workspaces/ShareWorkspaceModal/Collaborator.tsx
Owners: @DataBiosphere/broad-core-services
